<a href="https://colab.research.google.com/github/thepankaj018/ML-Projects/blob/main/T_20_Score_Predictor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [ ]:
pd.set_option('display.max_columns', None)

In [ ]:
file_path = '/content/drive/MyDrive/Copy of International_T20_Data (1).csv'
df = pd.read_csv(file_path)

In [ ]:
# looking first five rows of dataframe 
df.head()

,innings,meta.data_version,meta.created,meta.revision,info.dates,info.gender,info.match_type,info.outcome.by.wickets,info.outcome.winner,info.overs,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.umpires,info.venue,info.city,info.outcome.by.runs,info.match_type_number,info.neutral_venue,info.outcome.method,info.outcome.result,info.outcome.eliminator,info.supersubs.New Zealand,info.supersubs.South Africa,info.bowl_out,info.outcome.bowl_out
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-02-18,2,"[datetime.date(2017, 2, 17)]",male,T20,5.0,Sri Lanka,20,['DAS Gunaratne'],"['Australia', 'Sri Lanka']",field,Sri Lanka,"['MD Martell', 'P Wilson']",Melbourne Cricket Ground,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-02-19,2,"[datetime.date(2017, 2, 19)]",male,T20,2.0,Sri Lanka,20,['DAS Gunaratne'],"['Australia', 'Sri Lanka']",field,Sri Lanka,"['SD Fry', 'SJ Nogajski']","Simonds Stadium, South Geelong",Victoria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-02-23,1,"[datetime.date(2017, 2, 22)]",male,T20,NaN,Australia,20,['A Zampa'],"['Australia', 'Sri Lanka']",field,Sri Lanka,"['MD Martell', 'P Wilson']",Adelaide Oval,NaN,41.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"[{'1st innings': {'team': 'Hong Kong', 'delive...",0.9,2016-09-12,1,"[datetime.date(2016, 9, 5)]",male,T20,NaN,Hong Kong,20,NaN,"['Ireland', 'Hong Kong']",bat,Hong Kong,"['R Black', 'AJ Neill']","Bready Cricket Club, Magheramason",Londonderry,40.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"[{'1st innings': {'team': 'Zimbabwe', 'deliver...",0.9,2016-06-19,1,"[datetime.date(2016, 6, 18)]",male,T20,NaN,Zimbabwe,20,['E Chigumbura'],"['Zimbabwe', 'India']",field,India,"['TJ Matibiri', 'RB Tiffin']",Harare Sports Club,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# checking number of rows and columns present in df
df.shape

(1417, 27)

In [ ]:
# checking columns present in df
df.columns.tolist()

['innings',
 'meta.data_version',
 'meta.created',
 'meta.revision',
 'info.dates',
 'info.gender',
 'info.match_type',
 'info.outcome.by.wickets',
 'info.outcome.winner',
 'info.overs',
 'info.player_of_match',
 'info.teams',
 'info.toss.decision',
 'info.toss.winner',
 'info.umpires',
 'info.venue',
 'info.city',
 'info.outcome.by.runs',
 'info.match_type_number',
 'info.neutral_venue',
 'info.outcome.method',
 'info.outcome.result',
 'info.outcome.eliminator',
 'info.supersubs.New Zealand',
 'info.supersubs.South Africa',
 'info.bowl_out',
 'info.outcome.bowl_out']

In [ ]:
# renaming columns
column_list = []
for elem in df.columns.tolist():
  column_list.append(elem.replace('meta.',"").replace('info.',"").replace(".","_"))
column_list

['innings',
 'data_version',
 'created',
 'revision',
 'dates',
 'gender',
 'match_type',
 'outcome_by_wickets',
 'outcome_winner',
 'overs',
 'player_of_match',
 'teams',
 'toss_decision',
 'toss_winner',
 'umpires',
 'venue',
 'city',
 'outcome_by_runs',
 'match_type_number',
 'neutral_venue',
 'outcome_method',
 'outcome_result',
 'outcome_eliminator',
 'supersubs_New Zealand',
 'supersubs_South Africa',
 'bowl_out',
 'outcome_bowl_out']

In [ ]:
df.columns = column_list

In [ ]:
df.columns

Index(['innings', 'data_version', 'created', 'revision', 'dates', 'gender',
       'match_type', 'outcome_by_wickets', 'outcome_winner', 'overs',
       'player_of_match', 'teams', 'toss_decision', 'toss_winner', 'umpires',
       'venue', 'city', 'outcome_by_runs', 'match_type_number',
       'neutral_venue', 'outcome_method', 'outcome_result',
       'outcome_eliminator', 'supersubs_New Zealand', 'supersubs_South Africa',
       'bowl_out', 'outcome_bowl_out'],
      dtype='object')

In [ ]:
# removing unwanted columns from dataframe
unwanted_columnn = ['data_version','created','revision','dates','match_type_number','neutral_venue','outcome_method','outcome_result','outcome_eliminator',
                                                                            'supersubs_New Zealand','supersubs_South Africa','bowl_out','outcome_bowl_out']

In [ ]:
df.drop(columns = unwanted_columnn,inplace = True)

In [ ]:
df.columns

Index(['innings', 'gender', 'match_type', 'outcome_by_wickets',
       'outcome_winner', 'overs', 'player_of_match', 'teams', 'toss_decision',
       'toss_winner', 'umpires', 'venue', 'city', 'outcome_by_runs'],
      dtype='object')

In [ ]:
df.gender.value_counts()

male      951
female    466
Name: gender, dtype: int64

In [ ]:
df.overs.value_counts()

20    1414
50       3
Name: overs, dtype: int64

In [ ]:
# Keeping only men's matches and 20 over formats matches
df = df.loc[(df['gender'] == 'male') & (df['overs'] == 20)]
df.shape

(948, 14)

In [ ]:
# adding some unique identifier to each match
df['match_id'] = range(1,len(df)+1)

In [ ]:
df.head()

,innings,gender,match_type,outcome_by_wickets,outcome_winner,overs,player_of_match,teams,toss_decision,toss_winner,umpires,venue,city,outcome_by_runs,match_id
0,"[{'1st innings': {'team': 'Australia', 'delive...",male,T20,5.0,Sri Lanka,20,['DAS Gunaratne'],"['Australia', 'Sri Lanka']",field,Sri Lanka,"['MD Martell', 'P Wilson']",Melbourne Cricket Ground,NaN,NaN,1
1,"[{'1st innings': {'team': 'Australia', 'delive...",male,T20,2.0,Sri Lanka,20,['DAS Gunaratne'],"['Australia', 'Sri Lanka']",field,Sri Lanka,"['SD Fry', 'SJ Nogajski']","Simonds Stadium, South Geelong",Victoria,NaN,2
2,"[{'1st innings': {'team': 'Australia', 'delive...",male,T20,NaN,Australia,20,['A Zampa'],"['Australia', 'Sri Lanka']",field,Sri Lanka,"['MD Martell', 'P Wilson']",Adelaide Oval,NaN,41.0,3
3,"[{'1st innings': {'team': 'Hong Kong', 'delive...",male,T20,NaN,Hong Kong,20,NaN,"['Ireland', 'Hong Kong']",bat,Hong Kong,"['R Black', 'AJ Neill']","Bready Cricket Club, Magheramason",Londonderry,40.0,4
4,"[{'1st innings': {'team': 'Zimbabwe', 'deliver...",male,T20,NaN,Zimbabwe,20,['E Chigumbura'],"['Zimbabwe', 'India']",field,India,"['TJ Matibiri', 'RB Tiffin']",Harare Sports Club,NaN,2.0,5

In [ ]:
# checking teams feature of df
df['teams']

0                              ['Australia', 'Sri Lanka']
1                              ['Australia', 'Sri Lanka']
2                              ['Australia', 'Sri Lanka']
3                                ['Ireland', 'Hong Kong']
4                                   ['Zimbabwe', 'India']
5                                   ['Zimbabwe', 'India']
6                                   ['Zimbabwe', 'India']
7                           ['New Zealand', 'Bangladesh']
8                           ['New Zealand', 'Bangladesh']
9                           ['New Zealand', 'Bangladesh']
10                        ['New Zealand', 'South Africa']
11                            ['England', 'South Africa']
12                            ['England', 'South Africa']
13                            ['England', 'South Africa']
14                             ['West Indies', 'England']
15                                   ['India', 'England']
16                                   ['India', 'England']
17                                   ['India', 'England']
18                             ['Afghanistan', 'Ireland']
19                             ['Afghanistan', 'Ireland']
20                             ['Afghanistan', 'Ireland']
21                               ['India', 'West Indies']
22                               ['India', 'West Indies']
27                            ['Pakistan', 'West Indies']
28                            ['Pakistan', 'West Indies']
29                            ['Pakistan', 'West Indies']
32                ['United Arab Emirates', 'Afghanistan']
33                ['United Arab Emirates', 'Afghanistan']
34                ['United Arab Emirates', 'Afghanistan']
35                           ['New Zealand', 'Australia']
36                               ['England', 'Australia']
37                               ['England', 'Australia']
38                             ['New Zealand', 'England']
39                           ['New Zealand', 'Australia']
40                             ['England', 'New Zealand']
41                           ['New Zealand', 'Australia']
42                              ['Hong Kong', 'Scotland']
43                             ['Afghanistan', 'Ireland']
44                                ['Netherlands', 'Oman']
45                                  ['Hong Kong', 'Oman']
46                ['United Arab Emirates', 'Afghanistan']
47                            ['Netherlands', 'Scotland']
48                    ['United Arab Emirates', 'Ireland']
49                           ['Hong Kong', 'Netherlands']
50                                   ['Oman', 'Scotland']
51                                ['Afghanistan', 'Oman']
52                                ['Ireland', 'Scotland']
53                             ['Afghanistan', 'Ireland']
54                         ['South Africa', 'Bangladesh']
55                         ['South Africa', 'Bangladesh']
56                            ['West Indies', 'Pakistan']
57                            ['West Indies', 'Pakistan']
58                            ['Sri Lanka', 'Bangladesh']
59                            ['Sri Lanka', 'Bangladesh']
60                            ['West Indies', 'Pakistan']
61                            ['West Indies', 'Pakistan']
65           ['United Arab Emirates', 'Papua New Guinea']
66           ['United Arab Emirates', 'Papua New Guinea']
67           ['United Arab Emirates', 'Papua New Guinea']
68                         ['West Indies', 'Afghanistan']
69                         ['West Indies', 'Afghanistan']
70                         ['West Indies', 'Afghanistan']
71                               ['West Indies', 'India']
72                                 ['Sri Lanka', 'India']
73                         ['New Zealand', 'West Indies']
74                         ['New Zealand', 'West Indies']
75                         ['New Zealand', 'West Indies']
76                            ['Pakistan', 'New Zealand']
77                            ['Pakistan', 'New Zealand']
78                            ['Pakistan', 'New Zealand']
79                           ['Pakistan', 'ICC World XI']
80                           ['Pakistan', 'ICC World XI']
81                           ['Pakistan', 'ICC World XI']
82                                 ['Australia', 'India']
83                                 ['India', 'Australia']
84                               ['England', 'Australia']
85                                   ['England', 'India']
86                                   ['India', 'England']
87                                   ['England', 'India']
88                               ['India', 'New Zealand']
89                               ['New Zealand', 'India']
90                               ['India', 'New Zealand']
91                              ['Sri Lanka', 'Pakistan']
92                              ['Sri Lanka', 'Pakistan']
93                              ['Pakistan', 'Sri Lanka']
94                              ['India', 'South Africa']
95                              ['India', 'South Africa']
96                              ['India', 'South Africa']
97                                 ['India', 'Sri Lanka']
98                                 ['India', 'Sri Lanka']
99                                 ['Sri Lanka', 'India']
116                              ['Pakistan', 'Scotland']
117                              ['Pakistan', 'Scotland']
118                           ['Bangladesh', 'Sri Lanka']
119                           ['Sri Lanka', 'Bangladesh']
127                                ['India', 'Sri Lanka']
128                               ['Bangladesh', 'India']
129                           ['Sri Lanka', 'Bangladesh']
130                                ['Sri Lanka', 'India']
131                               ['India', 'Bangladesh']
132                           ['Sri Lanka', 'Bangladesh']
133                               ['Bangladesh', 'India']
134                           ['Zimbabwe', 'Afghanistan']
135                           ['Afghanistan', 'Zimbabwe']
142                           ['Pakistan', 'West Indies']
143                           ['Pakistan', 'West Indies']
144                           ['West Indies', 'Pakistan']
145                              ['England', 'Sri Lanka']
146                                  ['India', 'Ireland']
147                                  ['India', 'Ireland']
148                       ['West Indies', 'ICC World XI']
149                              ['Netherlands', 'Nepal']
150                            ['Netherlands', 'Ireland']
151                            ['Ireland', 'Netherlands']
152                               ['Ireland', 'Scotland']
153                               ['Scotland', 'Ireland']
154                           ['Netherlands', 'Scotland']
155                           ['Scotland', 'Netherlands']
156                         ['South Africa', 'Sri Lanka']
157                              ['Pakistan', 'Zimbabwe']
158                             ['Pakistan', 'Australia']
159                             ['Australia', 'Zimbabwe']
160                              ['Zimbabwe', 'Pakistan']
161                             ['Pakistan', 'Australia']
162                             ['Zimbabwe', 'Australia']
163                             ['Australia', 'Pakistan']
164                          ['South Africa', 'Zimbabwe']
165                          ['Zimbabwe', 'South Africa']
166                          ['South Africa', 'Pakistan']
167                          ['South Africa', 'Pakistan']
168                          ['South Africa', 'Pakistan']
169                         ['South Africa', 'Sri Lanka']
170                         ['South Africa', 'Sri Lanka']
171                         ['South Africa', 'Sri Lanka']
177                         ['South Africa', 'Australia']
178                                ['Australia', 'India']
179                                ['Australia', 'India']
180                                ['Australia', 'India']
184                         ['Bangladesh', 'Afghanistan']
185                         ['Afghanistan', 'Bangladesh']
186                         ['Bangladesh', 'West Indies']
187                         ['Bangladesh', 'West Indies']
188                         ['Bangladesh', 'West Indies']
223                            ['Afghanistan', 'Ireland']
224                            ['Afghanistan', 'Ireland']
247                               ['England', 'Pakistan']
248                         ['Bangladesh', 'West Indies']
249                         ['Bangladesh', 'West Indies']
250                         ['Bangladesh', 'West Indies']
251                              ['New Zealand', 'India']
252                              ['New Zealand', 'India']
253                              ['New Zealand', 'India']
254                          ['New Zealand', 'Sri Lanka']
261                             ['Pakistan', 'Australia']
262                             ['Pakistan', 'Australia']
263                             ['Pakistan', 'Australia']
264                           ['Pakistan', 'New Zealand']
265                           ['New Zealand', 'Pakistan']
266                           ['Pakistan', 'New Zealand']
271                              ['West Indies', 'India']
272                              ['India', 'West Indies']
273                              ['West Indies', 'India']
274                            ['West Indies', 'England']
275                            ['West Indies', 'England']
276                            ['West Indies', 'England']
292                 ['United Arab Emirates', 'Australia']
297                            ['Afghanistan', 'Ireland']
298                            ['Afghanistan', 'Ireland']
299                            ['Afghanistan', 'Ireland']
302                                ['India', 'Australia']
303                                ['India', 'Australia']
304                               ['Ireland', 'Zimbabwe']
305                               ['Ireland', 'Zimbabwe']
306                     ['United Arab Emirates', 'Nepal']
307                     ['United Arab Emirates', 'Nepal']
308                     ['United Arab Emirates', 'Nepal']
315                           ['Netherlands', 'Scotland']
316                                   ['Oman', 'Ireland']
317                               ['Oman', 'Netherlands']
318                               ['Ireland', 'Scotland']
319                            ['Ireland', 'Netherlands']
320                                  ['Oman', 'Scotland']
365                   ['Papua New Guinea', 'Philippines']
366                       ['Papua New Guinea', 'Vanuatu']
367                            ['Philippines', 'Vanuatu']
368                   ['Papua New Guinea', 'Philippines']
369                            ['Philippines', 'Vanuatu']
370                       ['Papua New Guinea', 'Vanuatu']
376     ['United Arab Emirates', 'United States of Ame...
377     ['United Arab Emirates', 'United States of Ame...
378                                  ['Germany', 'Italy']
410                            ['Australia', 'Sri Lanka']
411                            ['Australia', 'Sri Lanka']
412                            ['Australia', 'Sri Lanka']
413                             ['Australia', 'Pakistan']
414                             ['Australia', 'Pakistan']
415                             ['Australia', 'Pakistan']
425                                  ['Ghana', 'Namibia']
426                                ['Uganda', 'Botswana']
427                                    ['Ghana', 'Kenya']
428                                 ['Uganda', 'Namibia']
429                               ['Botswana', 'Nigeria']
430                                   ['Uganda', 'Ghana']
431                                  ['Ghana', 'Nigeria']
432                               ['Botswana', 'Namibia']
433                                   ['Uganda', 'Kenya']
437                               ['Guernsey', 'Germany']
438                                 ['Denmark', 'Norway']
439                                 ['Denmark', 'Jersey']
440                                 ['Guernsey', 'Italy']
441                                  ['Jersey', 'Norway']
442                               ['Guernsey', 'Denmark']
443                                 ['Germany', 'Norway']
444                                 ['Germany', 'Jersey']
445                                ['Guernsey', 'Norway']
446                                   ['Italy', 'Jersey']
447                                ['Denmark', 'Germany']
448                           ['South Africa', 'England']
449                           ['South Africa', 'England']
450                           ['South Africa', 'England']
451                         ['South Africa', 'Australia']
452                         ['South Africa', 'Australia']
453                         ['South Africa', 'Australia']
454                              ['Malaysia', 'Thailand']
455                              ['Maldives', 'Thailand']
456                              ['Malaysia', 'Thailand']
457                              ['Malaysia', 'Maldives']
458                              ['Maldives', 'Thailand']
459                             ['India', 'South Africa']
460                             ['India', 'South Africa']
461                               ['India', 'Bangladesh']
462                               ['India', 'Bangladesh']
463                               ['India', 'Bangladesh']
464                              ['India', 'West Indies']
465                              ['India', 'West Indies']
466                              ['India', 'West Indies']
467                            ['New Zealand', 'England']
468                            ['New Zealand', 'England']
469                            ['New Zealand', 'England']
470                            ['New Zealand', 'England']
471                            ['New Zealand', 'England']
472                              ['New Zealand', 'India']
473                              ['New Zealand', 'India']
474                              ['New Zealand', 'India']
475                              ['New Zealand', 'India']
476                              ['New Zealand', 'India']
481                           ['Netherlands', 'Zimbabwe']
482                           ['Netherlands', 'Zimbabwe']
483                              ['India', 'West Indies']
484                              ['India', 'West Indies']
485                              ['West Indies', 'India']
489                               ['Guernsey', 'Denmark']
490                                  ['Denmark', 'Italy']
505                                ['Singapore', 'Qatar']
506                                ['Kuwait', 'Malaysia']
507                                    ['Nepal', 'Qatar']
508                                 ['Malaysia', 'Nepal']
509                                   ['Kuwait', 'Qatar']
510                             ['Singapore', 'Malaysia']
511                                   ['Kuwait', 'Nepal']
512                                 ['Malaysia', 'Qatar']
513                                ['Singapore', 'Nepal']
514               ['Netherlands', 'United Arab Emirates']
515               ['Netherlands', 'United Arab Emirates']
516                                 ['Malaysia', 'Nepal']
517                                 ['Malaysia', 'Nepal']
518                          ['Sri Lanka', 'New Zealand']
519                          ['Sri Lanka', 'New Zealand']
520                          ['Sri Lanka', 'New Zealand']
521                        ['Afghanistan', 'West Indies']
522                        ['Afghanistan', 'West Indies']
523                        ['Afghanistan', 'West Indies']
542                            ['Bangladesh', 'Zimbabwe']
543                           ['Afghanistan', 'Zimbabwe']
544                         ['Bangladesh', 'Afghanistan']
545                            ['Bangladesh', 'Zimbabwe']
546                           ['Afghanistan', 'Zimbabwe']
547                         ['Bangladesh', 'Afghanistan']
553               ['Bermuda', 'United States of America']
554                          ['Canada', 'Cayman Islands']
555                                 ['Bermuda', 'Canada']
556        ['Cayman Islands', 'United States of America']
557                         ['Bermuda', 'Cayman Islands']
558                ['Canada', 'United States of America']
559                          ['Canada', 'Cayman Islands']
560               ['United States of America', 'Bermuda']
561        ['Cayman Islands', 'United States of America']
562                ['Canada', 'United States of America']
563                         ['Bermuda', 'Cayman Islands']
564                               ['Namibia', 'Botswana']
565                               ['Namibia', 'Botswana']
566                               ['Namibia', 'Botswana']
567                               ['Namibia', 'Botswana']
568                            ['Ireland', 'Netherlands']
569                                   ['Oman', 'Ireland']
570                                ['Hong Kong', 'Nepal']
571                              ['Nepal', 'Netherlands']
572                              ['Hong Kong', 'Ireland']
573                                  ['Ireland', 'Nepal']
574                               ['Oman', 'Netherlands']
575                          ['Hong Kong', 'Netherlands']
576                                     ['Oman', 'Nepal']
580                              ['England', 'Australia']
581                              ['Australia', 'England']
582                              ['England', 'Australia']
583                               ['England', 'Pakistan']
584                               ['Pakistan', 'England']
585                               ['Pakistan', 'England']
592                             ['Pakistan', 'Sri Lanka']
593                             ['Pakistan', 'Sri Lanka']
594                             ['Pakistan', 'Sri Lanka']
595                             ['Scotland', 'Singapore']
596                              ['Hong Kong', 'Ireland']
597                              ['Kenya', 'Netherlands']
598                      ['United Arab Emirates', 'Oman']
599                       ['Bermuda', 'Papua New Guinea']
600                                 ['Jersey', 'Nigeria']
601                            ['Namibia', 'Netherlands']
602                                 ['Kenya', 'Scotland']
603                   ['United Arab Emirates', 'Ireland']
604                       ['Namibia', 'Papua New Guinea']
605                                  ['Canada', 'Jersey']
606                              ['Bermuda', 'Singapore']
607                                 ['Hong Kong', 'Oman']
608                      ['Papua New Guinea', 'Scotland']
609                 ['United Arab Emirates', 'Hong Kong']
610                                   ['Ireland', 'Oman']
611                                  ['Bermuda', 'Kenya']
612                                 ['Canada', 'Nigeria']
613                               ['Namibia', 'Scotland']
614                          ['Netherlands', 'Singapore']
615                    ['United Arab Emirates', 'Jersey']
616                                ['Bermuda', 'Namibia']
617                                   ['Nigeria', 'Oman']
618                                ['Kenya', 'Singapore']
619                                 ['Canada', 'Ireland']
620                               ['Hong Kong', 'Jersey']
621                   ['Netherlands', 'Papua New Guinea']
622                   ['United Arab Emirates', 'Nigeria']
623                               ['Canada', 'Hong Kong']
624                               ['Bermuda', 'Scotland']
625                     ['Papua New Guinea', 'Singapore']
626                                 ['Ireland', 'Jersey']
627                                  ['Kenya', 'Namibia']

In [ ]:
# checking length 
len(df['teams'])

948

In [ ]:
df.shape

(948, 15)

In [ ]:
# Droping teams due to weired form
df.drop(columns = ['teams'],inplace = True)

In [ ]:
# checking data present in innings
df['innings'][0]

"[{'1st innings': {'team': 'Australia', 'deliveries': [{0.1: {'batsman': 'AJ Finch', 'bowler': 'SL Malinga', 'non_striker': 'M Klinger', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}}, {0.2: {'batsman': 'AJ Finch', 'bowler': 'SL Malinga', 'non_striker': 'M Klinger', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}}, {0.3: {'batsman': 'AJ Finch', 'bowler': 'SL Malinga', 'non_striker': 'M Klinger', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {0.4: {'batsman': 'M Klinger', 'bowler': 'SL Malinga', 'non_striker': 'AJ Finch', 'runs': {'batsman': 2, 'extras': 0, 'total': 2}}}, {0.5: {'batsman': 'M Klinger', 'bowler': 'SL Malinga', 'non_striker': 'AJ Finch', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}}, {0.6: {'batsman': 'M Klinger', 'bowler': 'SL Malinga', 'non_striker': 'AJ Finch', 'runs': {'batsman': 3, 'extras': 0, 'total': 3}}}, {1.1: {'batsman': 'M Klinger', 'bowler': 'KMDN Kulasekara', 'non_striker': 'AJ Finch', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}}, {1.2: {'batsman': 'M Klinger', 'bowler': 'KMDN Kulasekara', 'non_striker': 'AJ Finch', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {1.3: {'batsman': 'AJ Finch', 'bowler': 'KMDN Kulasekara', 'non_striker': 'M Klinger', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}}, {1.4: {'batsman': 'AJ Finch', 'bowler': 'KMDN Kulasekara', 'non_striker': 'M Klinger', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}}, {1.5: {'batsman': 'AJ Finch', 'bowler': 'KMDN Kulasekara', 'non_striker': 'M Klinger', 'runs': {'batsman': 4, 'extras': 0, 'total': 4}}}, {1.6: {'batsman': 'AJ Finch', 'bowler': 'KMDN Kulasekara', 'non_striker': 'M Klinger', 'runs': {'batsman': 2, 'extras': 0, 'total': 2}}}, {2.1: {'batsman': 'M Klinger', 'bowler': 'JRMVB Sanjaya', 'non_striker': 'AJ Finch', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {2.2: {'batsman': 'AJ Finch', 'bowler': 'JRMVB Sanjaya', 'non_striker': 'M Klinger', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {2.3: {'batsman': 'M Klinger', 'bowler': 'JRMVB Sanjaya', 'non_striker': 'AJ Finch', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}}, {2.4: {'batsman': 'M Klinger', 'bowler': 'JRMVB Sanjaya', 'non_striker': 'AJ Finch', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}}, {2.5: {'batsman': 'M Klinger', 'bowler': 'JRMVB Sanjaya', 'non_striker': 'AJ Finch', 'runs': {'batsman': 4, 'extras': 0, 'total': 4}}}, {2.6: {'batsman': 'M Klinger', 'bowler': 'JRMVB Sanjaya', 'non_striker': 'AJ Finch', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}}, {3.1: {'batsman': 'AJ Finch', 'bowler': 'KMDN Kulasekara', 'non_striker': 'M Klinger', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}}, {3.2: {'batsman': 'AJ Finch', 'bowler': 'KMDN Kulasekara', 'non_striker': 'M Klinger', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {3.3: {'batsman': 'M Klinger', 'bowler': 'KMDN Kulasekara', 'non_striker': 'AJ Finch', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {3.4: {'batsman': 'AJ Finch', 'bowler': 'KMDN Kulasekara', 'non_striker': 'M Klinger', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {3.5: {'batsman': 'M Klinger', 'bowler': 'KMDN Kulasekara', 'non_striker': 'AJ Finch', 'runs': {'batsman': 4, 'extras': 0, 'total': 4}}}, {3.6: {'batsman': 'M Klinger', 'bowler': 'KMDN Kulasekara', 'non_striker': 'AJ Finch', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {4.1: {'batsman': 'M Klinger', 'bowler': 'JRMVB Sanjaya', 'non_striker': 'AJ Finch', 'runs': {'batsman': 3, 'extras': 0, 'total': 3}}}, {4.2: {'batsman': 'AJ Finch', 'bowler': 'JRMVB Sanjaya', 'non_striker': 'M Klinger', 'runs': {'batsman': 3, 'extras': 0, 'total': 3}}}, {4.3: {'batsman': 'M Klinger', 'bowler': 'JRMVB Sanjaya', 'non_striker': 'AJ Finch', 'runs': {'batsman': 4, 'extras': 0, 'total': 4}}}, {4.4: {'batsman': 'M Klinger', 'bowler': 'JRMVB Sanjaya', 'non_striker': 'AJ Finch', 'runs': {'batsman': 4, 'extras': 0, 'total': 4}}}, {4.5: {'batsman': 'M Klinger', 'bowler': 'JRMVB Sanjaya', 'non_striker': 'AJ Finch', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {4.6: {'batsman': 'AJ Finch', 'bowler': 'JRMVB Sanjaya', 'non_striker': 'M Klinger', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {5.1: {'batsman': 'AJ Finch', 'bowler': 'S Prasanna', 'non_striker': 'M Klinger', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {5.2: {'batsman': 'M Klinger', 'bowler': 'S Prasanna', 'extras': {'wides': 1}, 'non_striker': 'AJ Finch', 'runs': {'batsman': 0, 'extras': 1, 'total': 1}}}, {5.3: {'batsman': 'M Klinger', 'bowler': 'S Prasanna', 'non_striker': 'AJ Finch', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}}, {5.4: {'batsman': 'M Klinger', 'bowler': 'S Prasanna', 'non_striker': 'AJ Finch', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}}, {5.5: {'batsman': 'M Klinger', 'bowler': 'S Prasanna', 'non_striker': 'AJ Finch', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {5.6: {'batsman': 'AJ Finch', 'bowler': 'S Prasanna', 'non_striker': 'M Klinger', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {5.7: {'batsman': 'M Klinger', 'bowler': 'S Prasanna', 'non_striker': 'AJ Finch', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}}, {6.1: {'batsman': 'AJ Finch', 'bowler': 'PADLR Sandakan', 'non_striker': 'M Klinger', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {6.2: {'batsman': 'M Klinger', 'bowler': 'PADLR Sandakan', 'non_striker': 'AJ Finch', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {6.3: {'batsman': 'AJ Finch', 'bowler': 'PADLR Sandakan', 'non_striker': 'M Klinger', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}}, {6.4: {'batsman': 'AJ Finch', 'bowler': 'PADLR Sandakan', 'non_striker': 'M Klinger', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {6.5: {'batsman': 'M Klinger', 'bowler': 'PADLR Sandakan', 'non_striker': 'AJ Finch', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {6.6: {'batsman': 'AJ Finch', 'bowler': 'PADLR Sandakan', 'non_striker': 'M Klinger', 'runs': {'batsman': 2, 'extras': 0, 'total': 2}}}, {7.1: {'batsman': 'M Klinger', 'bowler': 'S Prasanna', 'non_striker': 'AJ Finch', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}}, {7.2: {'batsman': 'M Klinger', 'bowler': 'S Prasanna', 'non_striker': 'AJ Finch', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {7.3: {'batsman': 'AJ Finch', 'bowler': 'S Prasanna', 'non_striker': 'M Klinger', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {7.4: {'batsman': 'M Klinger', 'bowler': 'S Prasanna', 'extras': {'byes': 1}, 'non_striker': 'AJ Finch', 'runs': {'batsman': 0, 'extras': 1, 'total': 1}}}, {7.5: {'batsman': 'AJ Finch', 'bowler': 'S Prasanna', 'non_striker': 'M Klinger', 'runs': {'batsman': 4, 'extras': 0, 'total': 4}}}, {7.6: {'batsman': 'AJ Finch', 'bowler': 'S Prasanna', 'non_striker': 'M Klinger', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {8.1: {'batsman': 'AJ Finch', 'bowler': 'PADLR Sandakan', 'non_striker': 'M Klinger', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {8.2: {'batsman': 'M Klinger', 'bowler': 'PADLR Sandakan', 'non_striker': 'AJ Finch', 'runs': {'batsman': 3, 'extras': 0, 'total': 3}}}, {8.3: {'batsman': 'AJ Finch', 'bowler': 'PADLR Sandakan', 'non_striker': 'M Klinger', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {8.4: {'batsman': 'M Klinger', 'bowler': 'PADLR Sandakan', 'non_striker': 'AJ Finch', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}}, {8.5: {'batsman': 'M Klinger', 'bowler': 'PADLR Sandakan', 'non_striker': 'AJ Finch', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}}, {8.6: {'batsman': 'M Klinger', 'bowler': 'PADLR Sandakan', 'non_striker': 'AJ Finch', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {9.1: {'batsman': 'M Klinger', 'bowler': 'S Prasanna', 'non_striker': 'AJ Finch', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {9.2: {'batsman': 'AJ Finch', 'bowler': 'S Prasanna', 'non_striker': 'M Klinger', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}}, {9.3: {'batsman': 'AJ Finch', 'bowler': 'S Prasanna', 'non_striker': 'M Klinger', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}}, {9.4: {'batsman': 'AJ Finch', 'bowler': 'S Prasanna', 'non_striker': 'M Klinger', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}}, {9.5: {'batsman': 'AJ Finch', 'bowler': 'S Prasanna', 'non_striker': 'M Klinger', 'runs': {'batsman': 6, 'extras': 0, 'total': 6}}}, {9.6: {'batsman': 'AJ Finch', 'bowler': 'S Prasanna', 'non_striker': 'M Klinger', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {10.1: {'batsman': 'AJ Finch', 'bowler': 'PADLR Sandakan', 'non_striker': 'M Klinger', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}}, {10.2: {'batsman': 'AJ Finch', 'bowler': 'PADLR Sandakan', 'extras': {'legbyes': 1}, 'non_striker': 'M Klinger', 'runs': {'batsman': 0, 'extras': 1, 'total': 1}}}, {10.3: {'batsman': 'M Klinger', 'bowler': 'PADLR Sandakan', 'non_striker': 'AJ Finch', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}, 'wicket': {'fielders': ['SL Malinga'], 'kind': 'caught', 'player_out': 'M Klinger'}}}, {10.4: {'batsman': 'TM Head', 'bowler': 'PADLR Sandakan', 'non_striker': 'AJ Finch', 'runs': {'batsman': 2, 'extras': 0, 'total': 2}}}, {10.5: {'batsman': 'TM Head', 'bowler': 'PADLR Sandakan', 'non_striker': 'AJ Finch', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}}, {10.6: {'batsman': 'TM Head', 'bowler': 'PADLR Sandakan', 'non_striker': 'AJ Finch', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}}, {11.1: {'batsman': 'AJ Finch', 'bowler': 'DAS Gunaratne', 'non_striker': 'TM Head', 'runs': {'batsman': 6, 'extras': 0, 'total': 6}}}, {11.2: {'batsman': 'AJ Finch', 'bowler': 'DAS Gunaratne', 'non_striker': 'TM Head', 'runs': {'batsman': 2, 'extras': 0, 'total': 2}}}, {11.3: {'batsman': 'AJ Finch', 'bowler': 'DAS Gunaratne', 'non_striker': 'TM Head', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}, 'wicket': {'fielders': ['SL Malinga'], 'kind': 'caught', 'player_out': 'AJ Finch'}}}, {11.4: {'batsman': 'TM Head', 'bowler': 'DAS Gunaratne', 'non_striker': 'MC Henriques', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {11.5: {'batsman': 'MC Henriques', 'bowler': 'DAS Gunaratne', 'non_striker': 'TM Head', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {11.6: {'batsman': 'TM Head', 'bowler': 'DAS Gunaratne', 'non_striker': 'MC Henriques', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {12.1: {'batsman': 'TM Head', 'bowler': 'S Prasanna', 'non_striker': 'MC Henriques', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}}, {12.2: {'batsman': 'TM Head', 'bowler': 'S Prasanna', 'non_striker': 'MC Henriques', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {12.3: {'batsman': 'MC Henriques', 'bowler': 'S Prasanna', 'non_striker': 'TM Head', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {12.4: {'batsman': 'TM Head', 'bowler': 'S Prasanna', 'non_striker': 'MC Henriques', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}}, {12.5: {'batsman': 'TM Head', 'bowler': 'S Prasanna', 'non_striker': 'MC Henriques', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {12.6: {'batsman': 'MC Henriques', 'bowler': 'S Prasanna', 'non_striker': 'TM Head', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {13.1: {'batsman': 'MC Henriques', 'bowler': 'SL Malinga', 'non_striker': 'TM Head', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}}, {13.2: {'batsman': 'MC Henriques', 'bowler': 'SL Malinga', 'extras': {'wides': 1}, 'non_striker': 'TM Head', 'runs': {'batsman': 0, 'extras': 1, 'total': 1}}}, {13.3: {'batsman': 'MC Henriques', 'bowler': 'SL Malinga', 'non_striker': 'TM Head', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {13.4: {'batsman': 'TM Head', 'bowler': 'SL Malinga', 'non_striker': 'MC Henriques', 'runs': {'batsman': 2, 'extras': 0, 'total': 2}}}, {13.5: {'batsman': 'TM Head', 'bowler': 'SL Malinga', 'non_striker': 'MC Henriques', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {13.6: {'batsman': 'MC Henriques', 'bowler': 'SL Malinga', 'non_striker': 'TM Head', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {13.7: {'batsman': 'TM Head', 'bowler': 'SL Malinga', 'non_striker': 'MC Henriques', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {14.1: {'batsman': 'TM Head', 'bowler': 'PADLR Sandakan', 'non_striker': 'MC Henriques', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {14.2: {'batsman': 'MC Henriques', 'bowler': 'PADLR Sandakan', 'non_striker': 'TM Head', 'runs': {'batsman': 3, 'extras': 0, 'total': 3}}}, {14.3: {'batsman': 'TM Head', 'bowler': 'PADLR Sandakan', 'non_striker': 'MC Henriques', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {14.4: {'batsman': 'MC Henriques', 'bowler': 'PADLR Sandakan', 'non_striker': 'TM Head', 'runs': {'batsman': 6, 'extras': 0, 'total': 6}}}, {14.5: {'batsman': 'MC Henriques', 'bowler': 'PADLR Sandakan', 'non_striker': 'TM Head', 'runs': {'batsman': 3, 'extras': 0, 'total': 3}}}, {14.6: {'batsman': 'TM Head', 'bowler': 'PADLR Sandakan', 'non_striker': 'MC Henriques', 'runs': {'batsman': 2, 'extras': 0, 'total': 2}}}, {15.1: {'batsman': 'MC Henriques', 'bowler': 'JRMVB Sanjaya', 'non_striker': 'TM Head', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}, 'wicket': {'fielders': ['CK Kapugedera'], 'kind': 'caught', 'player_out': 'MC Henriques'}}}, {15.2: {'batsman': 'TM Head', 'bowler': 'JRMVB Sanjaya', 'non_striker': 'AJ Turner', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {15.3: {'batsman': 'AJ Turner', 'bowler': 'JRMVB Sanjaya', 'non_striker': 'TM Head', 'runs': {'batsman': 2, 'extras': 0, 'total': 2}}}, {15.4: {'batsman': 'AJ Turner', 'bowler': 'JRMVB Sanjaya', 'non_striker': 'TM Head', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {15.5: {'batsman': 'TM Head', 'bowler': 'JRMVB Sanjaya', 'non_striker': 'AJ Turner', 'runs': {'batsman': 2, 'extras': 0, 'total': 2}}}, {15.6: {'batsman': 'TM Head', 'bowler': 'JRMVB Sanjaya', 'extras': {'wides': 1}, 'non_striker': 'AJ Turner', 'runs': {'batsman': 0, 'extras': 1, 'total': 1}}}, {15.7: {'batsman': 'TM Head', 'bowler': 'JRMVB Sanjaya', 'non_striker': 'AJ Turner', 'runs': {'batsman': 6, 'extras': 0, 'total': 6}}}, {16.1: {'batsman': 'AJ Turner', 'bowler': 'SL Malinga', 'non_striker': 'TM Head', 'runs': {'batsman': 2, 'extras': 0, 'total': 2}}}, {16.2: {'batsman': 'AJ Turner', 'bowler': 'SL Malinga', 'non_striker': 'TM Head', 'runs': {'batsman': 4, 'extras': 0, 'total': 4}}}, {16.3: {'batsman': 'AJ Turner', 'bowler': 'SL Malinga', 'non_striker': 'TM Head', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {16.4: {'batsman': 'TM Head', 'bowler': 'SL Malinga', 'non_striker': 'AJ Turner', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {16.5: {'batsman': 'AJ Turner', 'bowler': 'SL Malinga', 'non_striker': 'TM Head', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {16.6: {'batsman': 'TM Head', 'bowler': 'SL Malinga', 'non_striker': 'AJ Turner', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {17.1: {'batsman': 'TM Head', 'bowler': 'KMDN Kulasekara', 'non_striker': 'AJ Turner', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {17.2: {'batsman': 'AJ Turner', 'bowler': 'KMDN Kulasekara', 'non_striker': 'TM Head', 'runs': {'batsman': 2, 'extras': 0, 'total': 2}}}, {17.3: {'batsman': 'AJ Turner', 'bowler': 'KMDN Kulasekara', 'extras': {'noballs': 1}, 'non_striker': 'TM Head', 'runs': {'batsman': 0, 'extras': 1, 'total': 1}}}, {17.4: {'batsman': 'AJ Turner', 'bowler': 'KMDN Kulasekara', 'non_striker': 'TM Head', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {17.5: {'batsman': 'TM Head', 'bowler': 'KMDN Kulasekara', 'non_striker': 'AJ Turner', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {17.6: {'batsman': 'AJ Turner', 'bowler': 'KMDN Kulasekara', 'non_striker': 'TM Head', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {17.7: {'batsman': 'TM Head', 'bowler': 'KMDN Kulasekara', 'non_striker': 'AJ Turner', 'runs': {'batsman': 2, 'extras': 0, 'total': 2}}}, {18.1: {'batsman': 'AJ Turner', 'bowler': 'SL Malinga', 'non_striker': 'TM Head', 'runs': {'batsman': 2, 'extras': 0, 'total': 2}}}, {18.2: {'batsman': 'AJ Turner', 'bowler': 'SL Malinga', 'non_striker': 'TM Head', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {18.3: {'batsman': 'TM Head', 'bowler': 'SL Malinga', 'non_striker': 'AJ Turner', 'runs': {'batsman': 2, 'extras': 0, 'total': 2}}}, {18.4: {'batsman': 'TM Head', 'bowler': 'SL Malinga', 'non_striker': 'AJ Turner', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}, 'wicket': {'fielders': ['S Prasanna'], 'kind': 'caught', 'player_out': 'TM Head'}}}, {18.5: {'batsman': 'AJ Turner', 'bowler': 'SL Malinga', 'non_striker': 'JP Faulkner', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}, 'wicket': {'fielders': ['S Prasanna'], 'kind': 'caught', 'player_out': 'AJ Turner'}}}, {18.6: {'batsman': 'JP Faulkner', 'bowler': 'SL Malinga', 'non_striker': 'TD Paine', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {19.1: {'batsman': 'JP Faulkner', 'bowler': 'KMDN Kulasekara', 'non_striker': 'TD Paine', 'runs': {'batsman': 4, 'extras': 0, 'total': 4}}}, {19.2: {'batsman': 'JP Faulkner', 'bowler': 'KMDN Kulasekara', 'non_striker': 'TD Paine', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}}, {19.3: {'batsman': 'JP Faulkner', 'bowler': 'KMDN Kulasekara', 'non_striker': 'TD Paine', 'runs': {'batsman': 2, 'extras': 0, 'total': 2}}}, {19.4: {'batsman': 'JP Faulkner', 'bowler': 'KMDN Kulasekara', 'extras': {'wides': 1}, 'non_striker': 'TD Paine', 'runs': {'batsman': 0, 'extras': 1, 'total': 1}}}, {19.5: {'batsman': 'JP Faulkner', 'bowler': 'KMDN Kulasekara', 'non_striker': 'TD Paine', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}, 'wicket': {'fielders': ['CK Kapugedera', 'KMDN Kulasekara'], 'kind': 'run out', 'player_out': 'TD Paine'}}}, {19.6: {'batsman': 'JP Faulkner', 'bowler': 'KMDN Kulasekara', 'non_striker': 'PJ Cummins', 'runs': {'batsman': 2, 'extras': 0, 'total': 2}}}, {19.7: {'batsman': 'JP Faulkner', 'bowler': 'KMDN Kulasekara', 'non_striker': 'PJ Cummins', 'runs': {'batsman': 4, 'extras': 0, 'total': 4}}}]}}, {'2nd innings': {'team': 'Sri Lanka', 'deliveries': [{0.1: {'batsman': 'N Dickwella', 'bowler': 'PJ Cummins', 'non_striker': 'WU Tharanga', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {0.2: {'batsman': 'WU Tharanga', 'bowler': 'PJ Cummins', 'extras': {'legbyes': 1}, 'non_striker': 'N Dickwella', 'runs': {'batsman': 0, 'extras': 1, 'total': 1}}}, {0.3: {'batsman': 'N Dickwella', 'bowler': 'PJ Cummins', 'non_striker': 'WU Tharanga', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}}, {0.4: {'batsman': 'N Dickwella', 'bowler': 'PJ Cummins', 'non_striker': 'WU Tharanga', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}}, {0.5: {'batsman': 'N Dickwella', 'bowler': 'PJ Cummins', 'non_striker': 'WU Tharanga', 'runs': {'batsman': 3, 'extras': 0, 'total': 3}}}, {0.6: {'batsman': 'WU Tharanga', 'bowler': 'PJ Cummins', 'non_striker': 'N Dickwella', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}, 'wicket': {'fielders': ['TD Paine'], 'kind': 'caught', 'player_out': 'WU Tharanga'}}}, {1.1: {'batsman': 'N Dickwella', 'bowler': 'B Stanlake', 'extras': {'wides': 1}, 'non_striker': 'EMDY Munaweera', 'runs': {'batsman': 0, 'extras': 1, 'total': 1}}}, {1.2: {'batsman': 'N Dickwella', 'bowler': 'B Stanlake', 'extras': {'wides': 1}, 'non_striker': 'EMDY Munaweera', 'runs': {'batsman': 0, 'extras': 1, 'total': 1}}}, {1.3: {'batsman': 'N Dickwella', 'bowler': 'B Stanlake', 'non_striker': 'EMDY Munaweera', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}}, {1.4: {'batsman': 'N Dickwella', 'bowler': 'B Stanlake', 'non_striker': 'EMDY Munaweera', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}}, {1.5: {'batsman': 'N Dickwella', 'bowler': 'B Stanlake', 'non_striker': 'EMDY Munaweera', 'runs': {'batsman': 4, 'extras': 0, 'total': 4}}}, {1.6: {'batsman': 'N Dickwella', 'bowler': 'B Stanlake', 'non_striker': 'EMDY Munaweera', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}}, {1.7: {'batsman': 'N Dickwella', 'bowler': 'B Stanlake', 'non_striker': 'EMDY Munaweera', 'runs': {'batsman': 4, 'extras': 0, 'total': 4}}}, {1.8: {'batsman': 'N Dickwella', 'bowler': 'B Stanlake', 'non_striker': 'EMDY Munaweera', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}}, {2.1: {'batsman': 'EMDY Munaweera', 'bowler'

In [ ]:
type(df['innings'][0]) # remove str type

str

In [ ]:
# checking data types
df.dtypes

innings                object
gender                 object
match_type             object
outcome_by_wickets    float64
outcome_winner         object
overs                   int64
player_of_match        object
toss_decision          object
toss_winner            object
umpires                object
venue                  object
city                   object
outcome_by_runs       float64
match_id                int64
dtype: object

In [ ]:
import ast
df['innings'] = df['innings'].apply(ast.literal_eval)

In [ ]:
# Fetching batting team team from df.

def fetch_bat_team(columns):
  for elem in columns:
    for key in elem.keys():
      if key == '1st innings':
        return elem[key]['team']

In [ ]:
# Creating a feature batting
df['batting'] = df['innings'].apply(fetch_bat_team)

In [ ]:
# Fetching bowling team team from df.

def fetch_bowl_team(columns):
  for elem in columns:
    for key in elem.keys():
      if key == '2nd innings':
        return elem[key]['team']

In [ ]:
# Creating a feature bowling
df['bowling'] = df['innings'].apply(fetch_bowl_team)

In [ ]:
df.head()

,innings,gender,match_type,outcome_by_wickets,outcome_winner,overs,player_of_match,toss_decision,toss_winner,umpires,venue,city,outcome_by_runs,match_id,batting,bowling
0,"[{'1st innings': {'team': 'Australia', 'delive...",male,T20,5.0,Sri Lanka,20,['DAS Gunaratne'],field,Sri Lanka,"['MD Martell', 'P Wilson']",Melbourne Cricket Ground,NaN,NaN,1,Australia,Sri Lanka
1,"[{'1st innings': {'team': 'Australia', 'delive...",male,T20,2.0,Sri Lanka,20,['DAS Gunaratne'],field,Sri Lanka,"['SD Fry', 'SJ Nogajski']","Simonds Stadium, South Geelong",Victoria,NaN,2,Australia,Sri Lanka
2,"[{'1st innings': {'team': 'Australia', 'delive...",male,T20,NaN,Australia,20,['A Zampa'],field,Sri Lanka,"['MD Martell', 'P Wilson']",Adelaide Oval,NaN,41.0,3,Australia,Sri Lanka
3,"[{'1st innings': {'team': 'Hong Kong', 'delive...",male,T20,NaN,Hong Kong,20,NaN,bat,Hong Kong,"['R Black', 'AJ Neill']","Bready Cricket Club, Magheramason",Londonderry,40.0,4,Hong Kong,Ireland
4,"[{'1st innings': {'team': 'Zimbabwe', 'deliver...",male,T20,NaN,Zimbabwe,20,['E Chigumbura'],field,India,"['TJ Matibiri', 'RB Tiffin']",Harare Sports Club,NaN,2.0,5,Zimbabwe,India

In [ ]:
# now again checking type
type(df['innings'][0])

list

In [ ]:
# checking lengthn of list
len(df['innings'][0])

2

In [ ]:
## length of the list is 2, the first element of list is of 1st innings and second element is for 2nd innings

In [ ]:
df['innings'][0][0].keys()

dict_keys(['1st innings'])

In [ ]:
df['innings'][0][1].keys()

dict_keys(['2nd innings'])

In [ ]:
df['innings'][0][0]

{'1st innings': {'team': 'Australia',
  'deliveries': [{0.1: {'batsman': 'AJ Finch',
     'bowler': 'SL Malinga',
     'non_striker': 'M Klinger',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
   {0.2: {'batsman': 'AJ Finch',
     'bowler': 'SL Malinga',
     'non_striker': 'M Klinger',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
   {0.3: {'batsman': 'AJ Finch',
     'bowler': 'SL Malinga',
     'non_striker': 'M Klinger',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {0.4: {'batsman': 'M Klinger',
     'bowler': 'SL Malinga',
     'non_striker': 'AJ Finch',
     'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
   {0.5: {'batsman': 'M Klinger',
     'bowler': 'SL Malinga',
     'non_striker': 'AJ Finch',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
   {0.6: {'batsman': 'M Klinger',
     'bowler': 'SL Malinga',
     'non_striker': 'AJ Finch',
     'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
   {1.1: {'batsman': 'M Klinger',
     'bowler': 'KMDN Kulasekara',
     'non_striker': 'AJ Finch',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
   {1.2: {'batsman': 'M Klinger',
     'bowler': 'KMDN Kulasekara',
     'non_striker': 'AJ Finch',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {1.3: {'batsman': 'AJ Finch',
     'bowler': 'KMDN Kulasekara',
     'non_striker': 'M Klinger',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
   {1.4: {'batsman': 'AJ Finch',
     'bowler': 'KMDN Kulasekara',
     'non_striker': 'M Klinger',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
   {1.5: {'batsman': 'AJ Finch',
     'bowler': 'KMDN Kulasekara',
     'non_striker': 'M Klinger',
     'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
   {1.6: {'batsman': 'AJ Finch',
     'bowler': 'KMDN Kulasekara',
     'non_striker': 'M Klinger',
     'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
   {2.1: {'batsman': 'M Klinger',
     'bowler': 'JRMVB Sanjaya',
     'non_striker': 'AJ Finch',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {2.2: {'batsman': 'AJ Finch',
     'bowler': 'JRMVB Sanjaya',
     'non_striker': 'M Klinger',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {2.3: {'batsman': 'M Klinger',
     'bowler': 'JRMVB Sanjaya',
     'non_striker': 'AJ Finch',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
   {2.4: {'batsman': 'M Klinger',
     'bowler': 'JRMVB Sanjaya',
     'non_striker': 'AJ Finch',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
   {2.5: {'batsman': 'M Klinger',
     'bowler': 'JRMVB Sanjaya',
     'non_striker': 'AJ Finch',
     'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
   {2.6: {'batsman': 'M Klinger',
     'bowler': 'JRMVB Sanjaya',
     'non_striker': 'AJ Finch',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
   {3.1: {'batsman': 'AJ Finch',
     'bowler': 'KMDN Kulasekara',
     'non_striker': 'M Klinger',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
   {3.2: {'batsman': 'AJ Finch',
     'bowler': 'KMDN Kulasekara',
     'non_striker': 'M Klinger',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {3.3: {'batsman': 'M Klinger',
     'bowler': 'KMDN Kulasekara',
     'non_striker': 'AJ Finch',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {3.4: {'batsman': 'AJ Finch',
     'bowler': 'KMDN Kulasekara',
     'non_striker': 'M Klinger',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {3.5: {'batsman': 'M Klinger',
     'bowler': 'KMDN Kulasekara',
     'non_striker': 'AJ Finch',
     'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
   {3.6: {'batsman': 'M Klinger',
     'bowler': 'KMDN Kulasekara',
     'non_striker': 'AJ Finch',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {4.1: {'batsman': 'M Klinger',
     'bowler': 'JRMVB Sanjaya',
     'non_striker': 'AJ Finch',
     'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
   {4.2: {'batsman': 'AJ Finch',
     'bowler': 'JRMVB Sanjaya',
     'non_striker': 'M Klinger',
     'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
   {4.3: {'batsman': 'M Klinger',
     'bowler': 'JRMVB Sanjaya',
     'non_striker': 'AJ Finch',
     'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
   {4.4: {'batsman': 'M Klinger',
     'bowler': 'JRMVB Sanjaya',
     'non_striker': 'AJ Finch',
     'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
   {4.5: {'batsman': 'M Klinger',
     'bowler': 'JRMVB Sanjaya',
     'non_striker': 'AJ Finch',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {4.6: {'batsman': 'AJ Finch',
     'bowler': 'JRMVB Sanjaya',
     'non_striker': 'M Klinger',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {5.1: {'batsman': 'AJ Finch',
     'bowler': 'S Prasanna',
     'non_striker': 'M Klinger',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {5.2: {'batsman': 'M Klinger',
     'bowler': 'S Prasanna',
     'extras': {'wides': 1},
     'non_striker': 'AJ Finch',
     'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
   {5.3: {'batsman': 'M Klinger',
     'bowler': 'S Prasanna',
     'non_striker': 'AJ Finch',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
   {5.4: {'batsman': 'M Klinger',
     'bowler': 'S Prasanna',
     'non_striker': 'AJ Finch',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
   {5.5: {'batsman': 'M Klinger',
     'bowler': 'S Prasanna',
     'non_striker': 'AJ Finch',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {5.6: {'batsman': 'AJ Finch',
     'bowler': 'S Prasanna',
     'non_striker': 'M Klinger',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {5.7: {'batsman': 'M Klinger',
     'bowler': 'S Prasanna',
     'non_striker': 'AJ Finch',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
   {6.1: {'batsman': 'AJ Finch',
     'bowler': 'PADLR Sandakan',
     'non_striker': 'M Klinger',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {6.2: {'batsman': 'M Klinger',
     'bowler': 'PADLR Sandakan',
     'non_striker': 'AJ Finch',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {6.3: {'batsman': 'AJ Finch',
     'bowler': 'PADLR Sandakan',
     'non_striker': 'M Klinger',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
   {6.4: {'batsman': 'AJ Finch',
     'bowler': 'PADLR Sandakan',
     'non_striker': 'M Klinger',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {6.5: {'batsman': 'M Klinger',
     'bowler': 'PADLR Sandakan',
     'non_striker': 'AJ Finch',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {6.6: {'batsman': 'AJ Finch',
     'bowler': 'PADLR Sandakan',
     'non_striker': 'M Klinger',
     'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
   {7.1: {'batsman': 'M Klinger',
     'bowler': 'S Prasanna',
     'non_striker': 'AJ Finch',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
   {7.2: {'batsman': 'M Klinger',
     'bowler': 'S Prasanna',
     'non_striker': 'AJ Finch',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {7.3: {'batsman': 'AJ Finch',
     'bowler': 'S Prasanna',
     'non_striker': 'M Klinger',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {7.4: {'batsman': 'M Klinger',
     'bowler': 'S Prasanna',
     'extras': {'byes': 1},
     'non_striker': 'AJ Finch',
     'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
   {7.5: {'batsman': 'AJ Finch',
     'bowler': 'S Prasanna',
     'non_striker': 'M Klinger',
     'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
   {7.6: {'batsman': 'AJ Finch',
     'bowler': 'S Prasanna',
     'non_striker': 'M Klinger',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {8.1: {'batsman': 'AJ Finch',
     'bowler': 'PADLR Sandakan',
     'non_striker': 'M Klinger',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {8.2: {'batsman': 'M Klinger',
     'bowler': 'PADLR Sandakan',
     'non_striker': 'AJ Finch',
     'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
   {8.3: {'batsman': 'AJ Finch',
     'bowler': 'PADLR Sandakan',
     'non_striker': 'M Klinger',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {8.4: {'batsman': 'M Klinger',
     'bowler': 'PADLR Sandakan',
     'non_striker': 'AJ Finch',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
   {8.5: {'batsman': 'M Klinger',
     'bowler': 'PADLR Sandakan',
     'non_striker': 'AJ Finch',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
   {8.6: {'batsman': 'M Klinger',
     'bowler': 'PADLR Sandakan',
     'non_striker': 'AJ Finch',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {9.1: {'batsman': 'M Klinger',
     'bowler': 'S Prasanna',
     'non_striker': 'AJ Finch',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {9.2: {'batsman': 'AJ Finch',
     'bowler': 'S Prasanna',
     'non_striker': 'M Klinger',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
   {9.3: {'batsman': 'AJ Finch',
     'bowler': 'S Prasanna',
     'non_striker': 'M Klinger',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
   {9.4: {'batsman': 'AJ Finch',
     'bowler': 'S Prasanna',
     'non_striker': 'M Klinger',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
   {9.5: {'batsman': 'AJ Finch',
     'bowler': 'S Prasanna',
     'non_striker': 'M Klinger',
     'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
   {9.6: {'batsman': 'AJ Finch',
     'bowler': 'S Prasanna',
     'non_striker': 'M Klinger',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {10.1: {'batsman': 'AJ Finch',
     'bowler': 'PADLR Sandakan',
     'non_striker': 'M Klinger',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
   {10.2: {'batsman': 'AJ Finch',
     'bowler': 'PADLR Sandakan',
     'extras': {'legbyes': 1},
     'non_striker': 'M Klinger',
     'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
   {10.3: {'batsman': 'M Klinger',
     'bowler': 'PADLR Sandakan',
     'non_striker': 'AJ Finch',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0},
     'wicket': {'fielders': ['SL Malinga'],
      'kind': 'caught',
      'player_out': 'M Klinger'}}},
   {10.4: {'batsman': 'TM Head',
     'bowler': 'PADLR Sandakan',
     'non_striker': 'AJ Finch',
     'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
   {10.5: {'batsman': 'TM Head',
     'bowler': 'PADLR Sandakan',
     'non_striker': 'AJ Finch',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
   {10.6: {'batsman': 'TM Head',
     'bowler': 'PADLR Sandakan',
     'non_striker': 'AJ Finch',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
   {11.1: {'batsman': 'AJ Finch',
     'bowler': 'DAS Gunaratne',
     'non_striker': 'TM Head',
     'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
   {11.2: {'batsman': 'AJ Finch',
     'bowler': 'DAS Gunaratne',
     'non_striker': 'TM Head',
     'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
   {11.3: {'batsman': 'AJ Finch',
     'bowler': 'DAS Gunaratne',
     'non_striker': 'TM Head',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0},
     'wicket': {'fielders': ['SL Malinga'],
      'kind': 'caught',
      'player_out': 'AJ Finch'}}},
   {11.4: {'batsman': 'TM Head',
     'bowler': 'DAS Gunaratne',
     'non_striker': 'MC Henriques',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {11.5: {'batsman': 'MC Henriques',
     'bowler': 'DAS Gunaratne',
     'non_striker': 'TM Head',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {11.6: {'batsman': 'TM Head',
     'bowler': 'DAS Gunaratne',
     'non_striker': 'MC Henriques',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {12.1: {'batsman': 'TM Head',
     'bowler': 'S Prasanna',
     'non_striker': 'MC Henriques',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
   {12.2: {'batsman': 'TM Head',
     'bowler': 'S Prasanna',
     'non_striker': 'MC Henriques',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {12.3: {'batsman': 'MC Henriques',
     'bowler': 'S Prasanna',
     'non_striker': 'TM Head',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {12.4: {'batsman': 'TM Head',
     'bowler': 'S Prasanna',
     'non_striker': 'MC Henriques',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
   {12.5: {'batsman': 'TM Head',
     'bowler': 'S Prasanna',
     'non_striker': 'MC Henriques',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {12.6: {'batsman': 'MC Henriques',
     'bowler': 'S Prasanna',
     'non_striker': 'TM Head',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {13.1: {'batsman': 'MC Henriques',
     'bowler': 'SL Malinga',
     'non_striker': 'TM Head',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
   {13.2: {'batsman': 'MC Henriques',
     'bowler': 'SL Malinga',
     'extras': {'wides': 1},
     'non_striker': 'TM Head',
     'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
   {13.3: {'batsman': 'MC Henriques',
     'bowler': 'SL Malinga',
     'non_striker': 'TM Head',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {13.4: {'batsman': 'TM Head',
     'bowler': 'SL Malinga',
     'non_striker': 'MC Henriques',
     'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
   {13.5: {'batsman': 'TM Head',
     'bowler': 'SL Malinga',
     'non_striker': 'MC Henriques',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {13.6: {'batsman': 'MC Henriques',
     'bowler': 'SL Malinga',
     'non_striker': 'TM Head',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {13.7: {'batsman': 'TM Head',
     'bowler': 'SL Malinga',
     'non_striker': 'MC Henriques',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {14.1: {'batsman': 'TM Head',
     'bowler': 'PADLR Sandakan',
     'non_striker': 'MC Henriques',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {14.2: {'batsman': 'MC Henriques',
     'bowler': 'PADLR Sandakan',
     'non_striker': 'TM Head',
     'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
   {14.3: {'batsman': 'TM Head',
     'bowler': 'PADLR Sandakan',
     'non_striker': 'MC Henriques',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {14.4: {'batsman': 'MC Henriques',
     'bowler': 'PADLR Sandakan',
     'non_striker': 'TM Head',
     'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
   {14.5: {'batsman': 'MC Henriques',
     'bowler': 'PADLR Sandakan',
     'non_striker': 'TM Head',
     'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
   {14.6: {'batsman': 'TM Head',
     'bowler': 'PADLR Sandakan',
     'non_striker': 'MC Henriques',
     'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
   {15.1: {'batsman': 'MC Henriques',
     'bowler': 'JRMVB Sanjaya',
     'non_striker': 'TM Head',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0},
     'wicket': {'fielders': ['CK Kapugedera'],
      'kind': 'caught',
      'player_out': 'MC Henriques'}}},
   {15.2: {'batsman': 'TM Head',
     'bowler': 'JRMVB Sanjaya',
     'non_striker': 'AJ Turner',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {15.3: {'batsman': 'AJ Turner',
     'bowler': 'JRMVB Sanjaya',
     'non_striker': 'TM Head',
     'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
   {15.4: {'batsman': 'AJ Turner',
     'bowler': 'JRMVB Sanjaya',
     'non_striker': 'TM Head',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {15.5: {'batsman': 'TM Head',
     'bowler': 'JRMVB Sanjaya',
     'non_striker': 'AJ Turner',
     'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
   {15.6: {'batsman': 'TM Head',
     'bowler': 'JRMVB Sanjaya',
     'extras': {'wides': 1},
     'non_striker': 'AJ Turner',
     'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
   {15.7: {'batsman': 'TM Head',
     'bowler': 'JRMVB Sanjaya',
     'non_striker': 'AJ Turner',
     'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
   {16.1: {'batsman': 'AJ Turner',
     'bowler': 'SL Malinga',
     'non_striker': 'TM Head',
     'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
   {16.2: {'batsman': 'AJ Turner',
     'bowler': 'SL Malinga',
     'non_striker': 'TM Head',
     'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
   {16.3: {'batsman': 'AJ Turner',
     'bowler': 'SL Malinga',
     'non_striker': 'TM Head',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {16.4: {'batsman': 'TM Head',
     'bowler': 'SL Malinga',
     'non_striker': 'AJ Turner',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {16.5: {'batsman': 'AJ Turner',
     'bowler': 'SL Malinga',
     'non_striker': 'TM Head',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {16.6: {'batsman': 'TM Head',
     'bowler': 'SL Malinga',
     'non_striker': 'AJ Turner',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {17.1: {'batsman': 'TM Head',
     'bowler': 'KMDN Kulasekara',
     'non_striker': 'AJ Turner',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {17.2: {'batsman': 'AJ Turner',
     'bowler': 'KMDN Kulasekara',
     'non_striker': 'TM Head',
     'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
   {17.3: {'batsman': 'AJ Turner',
     'bowler': 'KMDN Kulasekara',
     'extras': {'noballs': 1},
     'non_striker': 'TM Head',
     'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
   {17.4: {'batsman': 'AJ Turner',
     'bowler': 'KMDN Kulasekara',
     'non_striker': 'TM Head',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {17.5: {'batsman': 'TM Head',
     'bowler': 'KMDN Kulasekara',
     'non_striker': 'AJ Turner',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {17.6: {'batsman': 'AJ Turner',
     'bowler': 'KMDN Kulasekara',
     'non_striker': 'TM Head',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {17.7: {'batsman': 'TM Head',
     'bowler': 'KMDN Kulasekara',
     'non_striker': 'AJ Turner',
     'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
   {18.1: {'batsman': 'AJ Turner',
     'bowler': 'SL Malinga',
     'non_striker': 'TM Head',
     'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
   {18.2: {'batsman': 'AJ Turner',
     'bowler': 'SL Malinga',
     'non_striker': 'TM Head',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {18.3: {'batsman': 'TM Head',
     'bowler': 'SL Malinga',
     'non_striker': 'AJ Turner',
     'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
   {18.4: {'batsman': 'TM Head',
     'bowler': 'SL Malinga',
     'non_striker': 'AJ Turner',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0},
     'wicket': {'fielders': ['S Prasanna'],
      'kind': 'caught',
      'player_out': 'TM Head'}}},
   {18.5: {'batsman': 'AJ Turner',
     'bowler': 'SL Malinga',
     'non_striker': 'JP Faulkner',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0},
     'wicket': {'fielders': ['S Prasanna'],
      'kind': 'caught',
      'player_out': 'AJ Turner'}}},
   {18.6: {'batsman': 'JP Faulkner',
     'bowler': 'SL Malinga',
     'non_striker': 'TD Paine',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {19.1: {'batsman': 'JP Faulkner',
     'bowler': 'KMDN Kulasekara',
     'non_striker': 'TD Paine',
     'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
   {19.2: {'batsman': 'JP Faulkner',
     'bowler': 'KMDN Kulasekara',
     'non_striker': 'TD Paine',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
   {19.3: {'batsman': 'JP Faulkner',
     'bowler': 'KMDN Kulasekara',
     'non_striker': 'TD Paine',
     'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
   {19.4: {'batsman': 'JP Faulkner',
     'bowler': 'KMDN Kulasekara',
     'extras': {'wides': 1},
     'non_striker': 'TD Paine',
     'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
   {19.5: {'batsman': 'JP Faulkner',
     'bowler': 'KMDN Kulasekara',
     'non_striker': 'TD Paine',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1},
     'wicket': {'fielders': ['CK Kapugedera', 'KMDN Kulasekara'],
      'kind': 'run out',
      'player_out': 'TD Paine'}}},
   {19.6: {'batsman': 'JP Faulkner',
     'bowler': 'KMDN Kulasekara',
     'non_striker': 'PJ Cummins',

In [ ]:
df['innings'][0][0]['1st innings']

{'team': 'Australia',
 'deliveries': [{0.1: {'batsman': 'AJ Finch',
    'bowler': 'SL Malinga',
    'non_striker': 'M Klinger',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
  {0.2: {'batsman': 'AJ Finch',
    'bowler': 'SL Malinga',
    'non_striker': 'M Klinger',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
  {0.3: {'batsman': 'AJ Finch',
    'bowler': 'SL Malinga',
    'non_striker': 'M Klinger',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {0.4: {'batsman': 'M Klinger',
    'bowler': 'SL Malinga',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
  {0.5: {'batsman': 'M Klinger',
    'bowler': 'SL Malinga',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
  {0.6: {'batsman': 'M Klinger',
    'bowler': 'SL Malinga',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
  {1.1: {'batsman': 'M Klinger',
    'bowler': 'KMDN Kulasekara',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
  {1.2: {'batsman': 'M Klinger',
    'bowler': 'KMDN Kulasekara',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {1.3: {'batsman': 'AJ Finch',
    'bowler': 'KMDN Kulasekara',
    'non_striker': 'M Klinger',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
  {1.4: {'batsman': 'AJ Finch',
    'bowler': 'KMDN Kulasekara',
    'non_striker': 'M Klinger',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
  {1.5: {'batsman': 'AJ Finch',
    'bowler': 'KMDN Kulasekara',
    'non_striker': 'M Klinger',
    'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
  {1.6: {'batsman': 'AJ Finch',
    'bowler': 'KMDN Kulasekara',
    'non_striker': 'M Klinger',
    'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
  {2.1: {'batsman': 'M Klinger',
    'bowler': 'JRMVB Sanjaya',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {2.2: {'batsman': 'AJ Finch',
    'bowler': 'JRMVB Sanjaya',
    'non_striker': 'M Klinger',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {2.3: {'batsman': 'M Klinger',
    'bowler': 'JRMVB Sanjaya',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
  {2.4: {'batsman': 'M Klinger',
    'bowler': 'JRMVB Sanjaya',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
  {2.5: {'batsman': 'M Klinger',
    'bowler': 'JRMVB Sanjaya',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
  {2.6: {'batsman': 'M Klinger',
    'bowler': 'JRMVB Sanjaya',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
  {3.1: {'batsman': 'AJ Finch',
    'bowler': 'KMDN Kulasekara',
    'non_striker': 'M Klinger',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
  {3.2: {'batsman': 'AJ Finch',
    'bowler': 'KMDN Kulasekara',
    'non_striker': 'M Klinger',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {3.3: {'batsman': 'M Klinger',
    'bowler': 'KMDN Kulasekara',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {3.4: {'batsman': 'AJ Finch',
    'bowler': 'KMDN Kulasekara',
    'non_striker': 'M Klinger',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {3.5: {'batsman': 'M Klinger',
    'bowler': 'KMDN Kulasekara',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
  {3.6: {'batsman': 'M Klinger',
    'bowler': 'KMDN Kulasekara',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {4.1: {'batsman': 'M Klinger',
    'bowler': 'JRMVB Sanjaya',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
  {4.2: {'batsman': 'AJ Finch',
    'bowler': 'JRMVB Sanjaya',
    'non_striker': 'M Klinger',
    'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
  {4.3: {'batsman': 'M Klinger',
    'bowler': 'JRMVB Sanjaya',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
  {4.4: {'batsman': 'M Klinger',
    'bowler': 'JRMVB Sanjaya',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
  {4.5: {'batsman': 'M Klinger',
    'bowler': 'JRMVB Sanjaya',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {4.6: {'batsman': 'AJ Finch',
    'bowler': 'JRMVB Sanjaya',
    'non_striker': 'M Klinger',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {5.1: {'batsman': 'AJ Finch',
    'bowler': 'S Prasanna',
    'non_striker': 'M Klinger',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {5.2: {'batsman': 'M Klinger',
    'bowler': 'S Prasanna',
    'extras': {'wides': 1},
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
  {5.3: {'batsman': 'M Klinger',
    'bowler': 'S Prasanna',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
  {5.4: {'batsman': 'M Klinger',
    'bowler': 'S Prasanna',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
  {5.5: {'batsman': 'M Klinger',
    'bowler': 'S Prasanna',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {5.6: {'batsman': 'AJ Finch',
    'bowler': 'S Prasanna',
    'non_striker': 'M Klinger',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {5.7: {'batsman': 'M Klinger',
    'bowler': 'S Prasanna',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
  {6.1: {'batsman': 'AJ Finch',
    'bowler': 'PADLR Sandakan',
    'non_striker': 'M Klinger',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {6.2: {'batsman': 'M Klinger',
    'bowler': 'PADLR Sandakan',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {6.3: {'batsman': 'AJ Finch',
    'bowler': 'PADLR Sandakan',
    'non_striker': 'M Klinger',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
  {6.4: {'batsman': 'AJ Finch',
    'bowler': 'PADLR Sandakan',
    'non_striker': 'M Klinger',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {6.5: {'batsman': 'M Klinger',
    'bowler': 'PADLR Sandakan',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {6.6: {'batsman': 'AJ Finch',
    'bowler': 'PADLR Sandakan',
    'non_striker': 'M Klinger',
    'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
  {7.1: {'batsman': 'M Klinger',
    'bowler': 'S Prasanna',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
  {7.2: {'batsman': 'M Klinger',
    'bowler': 'S Prasanna',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {7.3: {'batsman': 'AJ Finch',
    'bowler': 'S Prasanna',
    'non_striker': 'M Klinger',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {7.4: {'batsman': 'M Klinger',
    'bowler': 'S Prasanna',
    'extras': {'byes': 1},
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
  {7.5: {'batsman': 'AJ Finch',
    'bowler': 'S Prasanna',
    'non_striker': 'M Klinger',
    'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
  {7.6: {'batsman': 'AJ Finch',
    'bowler': 'S Prasanna',
    'non_striker': 'M Klinger',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {8.1: {'batsman': 'AJ Finch',
    'bowler': 'PADLR Sandakan',
    'non_striker': 'M Klinger',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {8.2: {'batsman': 'M Klinger',
    'bowler': 'PADLR Sandakan',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
  {8.3: {'batsman': 'AJ Finch',
    'bowler': 'PADLR Sandakan',
    'non_striker': 'M Klinger',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {8.4: {'batsman': 'M Klinger',
    'bowler': 'PADLR Sandakan',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
  {8.5: {'batsman': 'M Klinger',
    'bowler': 'PADLR Sandakan',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
  {8.6: {'batsman': 'M Klinger',
    'bowler': 'PADLR Sandakan',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {9.1: {'batsman': 'M Klinger',
    'bowler': 'S Prasanna',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {9.2: {'batsman': 'AJ Finch',
    'bowler': 'S Prasanna',
    'non_striker': 'M Klinger',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
  {9.3: {'batsman': 'AJ Finch',
    'bowler': 'S Prasanna',
    'non_striker': 'M Klinger',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
  {9.4: {'batsman': 'AJ Finch',
    'bowler': 'S Prasanna',
    'non_striker': 'M Klinger',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
  {9.5: {'batsman': 'AJ Finch',
    'bowler': 'S Prasanna',
    'non_striker': 'M Klinger',
    'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
  {9.6: {'batsman': 'AJ Finch',
    'bowler': 'S Prasanna',
    'non_striker': 'M Klinger',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {10.1: {'batsman': 'AJ Finch',
    'bowler': 'PADLR Sandakan',
    'non_striker': 'M Klinger',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
  {10.2: {'batsman': 'AJ Finch',
    'bowler': 'PADLR Sandakan',
    'extras': {'legbyes': 1},
    'non_striker': 'M Klinger',
    'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
  {10.3: {'batsman': 'M Klinger',
    'bowler': 'PADLR Sandakan',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0},
    'wicket': {'fielders': ['SL Malinga'],
     'kind': 'caught',
     'player_out': 'M Klinger'}}},
  {10.4: {'batsman': 'TM Head',
    'bowler': 'PADLR Sandakan',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
  {10.5: {'batsman': 'TM Head',
    'bowler': 'PADLR Sandakan',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
  {10.6: {'batsman': 'TM Head',
    'bowler': 'PADLR Sandakan',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
  {11.1: {'batsman': 'AJ Finch',
    'bowler': 'DAS Gunaratne',
    'non_striker': 'TM Head',
    'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
  {11.2: {'batsman': 'AJ Finch',
    'bowler': 'DAS Gunaratne',
    'non_striker': 'TM Head',
    'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
  {11.3: {'batsman': 'AJ Finch',
    'bowler': 'DAS Gunaratne',
    'non_striker': 'TM Head',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0},
    'wicket': {'fielders': ['SL Malinga'],
     'kind': 'caught',
     'player_out': 'AJ Finch'}}},
  {11.4: {'batsman': 'TM Head',
    'bowler': 'DAS Gunaratne',
    'non_striker': 'MC Henriques',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {11.5: {'batsman': 'MC Henriques',
    'bowler': 'DAS Gunaratne',
    'non_striker': 'TM Head',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {11.6: {'batsman': 'TM Head',
    'bowler': 'DAS Gunaratne',
    'non_striker': 'MC Henriques',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {12.1: {'batsman': 'TM Head',
    'bowler': 'S Prasanna',
    'non_striker': 'MC Henriques',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
  {12.2: {'batsman': 'TM Head',
    'bowler': 'S Prasanna',
    'non_striker': 'MC Henriques',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {12.3: {'batsman': 'MC Henriques',
    'bowler': 'S Prasanna',
    'non_striker': 'TM Head',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {12.4: {'batsman': 'TM Head',
    'bowler': 'S Prasanna',
    'non_striker': 'MC Henriques',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
  {12.5: {'batsman': 'TM Head',
    'bowler': 'S Prasanna',
    'non_striker': 'MC Henriques',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {12.6: {'batsman': 'MC Henriques',
    'bowler': 'S Prasanna',
    'non_striker': 'TM Head',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {13.1: {'batsman': 'MC Henriques',
    'bowler': 'SL Malinga',
    'non_striker': 'TM Head',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
  {13.2: {'batsman': 'MC Henriques',
    'bowler': 'SL Malinga',
    'extras': {'wides': 1},
    'non_striker': 'TM Head',
    'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
  {13.3: {'batsman': 'MC Henriques',
    'bowler': 'SL Malinga',
    'non_striker': 'TM Head',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {13.4: {'batsman': 'TM Head',
    'bowler': 'SL Malinga',
    'non_striker': 'MC Henriques',
    'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
  {13.5: {'batsman': 'TM Head',
    'bowler': 'SL Malinga',
    'non_striker': 'MC Henriques',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {13.6: {'batsman': 'MC Henriques',
    'bowler': 'SL Malinga',
    'non_striker': 'TM Head',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {13.7: {'batsman': 'TM Head',
    'bowler': 'SL Malinga',
    'non_striker': 'MC Henriques',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {14.1: {'batsman': 'TM Head',
    'bowler': 'PADLR Sandakan',
    'non_striker': 'MC Henriques',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {14.2: {'batsman': 'MC Henriques',
    'bowler': 'PADLR Sandakan',
    'non_striker': 'TM Head',
    'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
  {14.3: {'batsman': 'TM Head',
    'bowler': 'PADLR Sandakan',
    'non_striker': 'MC Henriques',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {14.4: {'batsman': 'MC Henriques',
    'bowler': 'PADLR Sandakan',
    'non_striker': 'TM Head',
    'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
  {14.5: {'batsman': 'MC Henriques',
    'bowler': 'PADLR Sandakan',
    'non_striker': 'TM Head',
    'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
  {14.6: {'batsman': 'TM Head',
    'bowler': 'PADLR Sandakan',
    'non_striker': 'MC Henriques',
    'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
  {15.1: {'batsman': 'MC Henriques',
    'bowler': 'JRMVB Sanjaya',
    'non_striker': 'TM Head',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0},
    'wicket': {'fielders': ['CK Kapugedera'],
     'kind': 'caught',
     'player_out': 'MC Henriques'}}},
  {15.2: {'batsman': 'TM Head',
    'bowler': 'JRMVB Sanjaya',
    'non_striker': 'AJ Turner',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {15.3: {'batsman': 'AJ Turner',
    'bowler': 'JRMVB Sanjaya',
    'non_striker': 'TM Head',
    'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
  {15.4: {'batsman': 'AJ Turner',
    'bowler': 'JRMVB Sanjaya',
    'non_striker': 'TM Head',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {15.5: {'batsman': 'TM Head',
    'bowler': 'JRMVB Sanjaya',
    'non_striker': 'AJ Turner',
    'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
  {15.6: {'batsman': 'TM Head',
    'bowler': 'JRMVB Sanjaya',
    'extras': {'wides': 1},
    'non_striker': 'AJ Turner',
    'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
  {15.7: {'batsman': 'TM Head',
    'bowler': 'JRMVB Sanjaya',
    'non_striker': 'AJ Turner',
    'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
  {16.1: {'batsman': 'AJ Turner',
    'bowler': 'SL Malinga',
    'non_striker': 'TM Head',
    'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
  {16.2: {'batsman': 'AJ Turner',
    'bowler': 'SL Malinga',
    'non_striker': 'TM Head',
    'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
  {16.3: {'batsman': 'AJ Turner',
    'bowler': 'SL Malinga',
    'non_striker': 'TM Head',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {16.4: {'batsman': 'TM Head',
    'bowler': 'SL Malinga',
    'non_striker': 'AJ Turner',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {16.5: {'batsman': 'AJ Turner',
    'bowler': 'SL Malinga',
    'non_striker': 'TM Head',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {16.6: {'batsman': 'TM Head',
    'bowler': 'SL Malinga',
    'non_striker': 'AJ Turner',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {17.1: {'batsman': 'TM Head',
    'bowler': 'KMDN Kulasekara',
    'non_striker': 'AJ Turner',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {17.2: {'batsman': 'AJ Turner',
    'bowler': 'KMDN Kulasekara',
    'non_striker': 'TM Head',
    'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
  {17.3: {'batsman': 'AJ Turner',
    'bowler': 'KMDN Kulasekara',
    'extras': {'noballs': 1},
    'non_striker': 'TM Head',
    'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
  {17.4: {'batsman': 'AJ Turner',
    'bowler': 'KMDN Kulasekara',
    'non_striker': 'TM Head',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {17.5: {'batsman': 'TM Head',
    'bowler': 'KMDN Kulasekara',
    'non_striker': 'AJ Turner',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {17.6: {'batsman': 'AJ Turner',
    'bowler': 'KMDN Kulasekara',
    'non_striker': 'TM Head',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {17.7: {'batsman': 'TM Head',
    'bowler': 'KMDN Kulasekara',
    'non_striker': 'AJ Turner',
    'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
  {18.1: {'batsman': 'AJ Turner',
    'bowler': 'SL Malinga',
    'non_striker': 'TM Head',
    'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
  {18.2: {'batsman': 'AJ Turner',
    'bowler': 'SL Malinga',
    'non_striker': 'TM Head',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {18.3: {'batsman': 'TM Head',
    'bowler': 'SL Malinga',
    'non_striker': 'AJ Turner',
    'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
  {18.4: {'batsman': 'TM Head',
    'bowler': 'SL Malinga',
    'non_striker': 'AJ Turner',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0},
    'wicket': {'fielders': ['S Prasanna'],
     'kind': 'caught',
     'player_out': 'TM Head'}}},
  {18.5: {'batsman': 'AJ Turner',
    'bowler': 'SL Malinga',
    'non_striker': 'JP Faulkner',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0},
    'wicket': {'fielders': ['S Prasanna'],
     'kind': 'caught',
     'player_out': 'AJ Turner'}}},
  {18.6: {'batsman': 'JP Faulkner',
    'bowler': 'SL Malinga',
    'non_striker': 'TD Paine',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {19.1: {'batsman': 'JP Faulkner',
    'bowler': 'KMDN Kulasekara',
    'non_striker': 'TD Paine',
    'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
  {19.2: {'batsman': 'JP Faulkner',
    'bowler': 'KMDN Kulasekara',
    'non_striker': 'TD Paine',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
  {19.3: {'batsman': 'JP Faulkner',
    'bowler': 'KMDN Kulasekara',
    'non_striker': 'TD Paine',
    'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
  {19.4: {'batsman': 'JP Faulkner',
    'bowler': 'KMDN Kulasekara',
    'extras': {'wides': 1},
    'non_striker': 'TD Paine',
    'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
  {19.5: {'batsman': 'JP Faulkner',
    'bowler': 'KMDN Kulasekara',
    'non_striker': 'TD Paine',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1},
    'wicket': {'fielders': ['CK Kapugedera', 'KMDN Kulasekara'],
     'kind': 'run out',
     'player_out': 'TD Paine'}}},
  {19.6: {'batsman': 'JP Faulkner',
    'bowler': 'KMDN Kulasekara',
    'non_striker': 'PJ Cummins',
    'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
  {19.7: {'batsman': 'JP Faulkner',
    'bowler': 'KMDN Kulasekara',
    'non_striker': 'PJ Cummins',
    'runs': {'batsman': 4, 'extras': 0, 'total': 4}}}]}

In [ ]:
df['innings'][0][0]['1st innings'].keys()

dict_keys(['team', 'deliveries'])

In [ ]:
df['innings'][0][0]['1st innings']['team']

'Australia'

In [ ]:
df['innings'][0]

[{'1st innings': {'team': 'Australia',
   'deliveries': [{0.1: {'batsman': 'AJ Finch',
      'bowler': 'SL Malinga',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {0.2: {'batsman': 'AJ Finch',
      'bowler': 'SL Malinga',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {0.3: {'batsman': 'AJ Finch',
      'bowler': 'SL Malinga',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {0.4: {'batsman': 'M Klinger',
      'bowler': 'SL Malinga',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {0.5: {'batsman': 'M Klinger',
      'bowler': 'SL Malinga',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {0.6: {'batsman': 'M Klinger',
      'bowler': 'SL Malinga',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
    {1.1: {'batsman': 'M Klinger',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {1.2: {'batsman': 'M Klinger',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {1.3: {'batsman': 'AJ Finch',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {1.4: {'batsman': 'AJ Finch',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {1.5: {'batsman': 'AJ Finch',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
    {1.6: {'batsman': 'AJ Finch',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {2.1: {'batsman': 'M Klinger',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {2.2: {'batsman': 'AJ Finch',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {2.3: {'batsman': 'M Klinger',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {2.4: {'batsman': 'M Klinger',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {2.5: {'batsman': 'M Klinger',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
    {2.6: {'batsman': 'M Klinger',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {3.1: {'batsman': 'AJ Finch',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {3.2: {'batsman': 'AJ Finch',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {3.3: {'batsman': 'M Klinger',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {3.4: {'batsman': 'AJ Finch',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {3.5: {'batsman': 'M Klinger',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
    {3.6: {'batsman': 'M Klinger',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {4.1: {'batsman': 'M Klinger',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
    {4.2: {'batsman': 'AJ Finch',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
    {4.3: {'batsman': 'M Klinger',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
    {4.4: {'batsman': 'M Klinger',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
    {4.5: {'batsman': 'M Klinger',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {4.6: {'batsman': 'AJ Finch',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {5.1: {'batsman': 'AJ Finch',
      'bowler': 'S Prasanna',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {5.2: {'batsman': 'M Klinger',
      'bowler': 'S Prasanna',
      'extras': {'wides': 1},
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
    {5.3: {'batsman': 'M Klinger',
      'bowler': 'S Prasanna',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {5.4: {'batsman': 'M Klinger',
      'bowler': 'S Prasanna',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {5.5: {'batsman': 'M Klinger',
      'bowler': 'S Prasanna',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {5.6: {'batsman': 'AJ Finch',
      'bowler': 'S Prasanna',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {5.7: {'batsman': 'M Klinger',
      'bowler': 'S Prasanna',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {6.1: {'batsman': 'AJ Finch',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {6.2: {'batsman': 'M Klinger',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {6.3: {'batsman': 'AJ Finch',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {6.4: {'batsman': 'AJ Finch',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {6.5: {'batsman': 'M Klinger',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {6.6: {'batsman': 'AJ Finch',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {7.1: {'batsman': 'M Klinger',
      'bowler': 'S Prasanna',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {7.2: {'batsman': 'M Klinger',
      'bowler': 'S Prasanna',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {7.3: {'batsman': 'AJ Finch',
      'bowler': 'S Prasanna',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {7.4: {'batsman': 'M Klinger',
      'bowler': 'S Prasanna',
      'extras': {'byes': 1},
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
    {7.5: {'batsman': 'AJ Finch',
      'bowler': 'S Prasanna',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
    {7.6: {'batsman': 'AJ Finch',
      'bowler': 'S Prasanna',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {8.1: {'batsman': 'AJ Finch',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {8.2: {'batsman': 'M Klinger',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
    {8.3: {'batsman': 'AJ Finch',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {8.4: {'batsman': 'M Klinger',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {8.5: {'batsman': 'M Klinger',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {8.6: {'batsman': 'M Klinger',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {9.1: {'batsman': 'M Klinger',
      'bowler': 'S Prasanna',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {9.2: {'batsman': 'AJ Finch',
      'bowler': 'S Prasanna',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {9.3: {'batsman': 'AJ Finch',
      'bowler': 'S Prasanna',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {9.4: {'batsman': 'AJ Finch',
      'bowler': 'S Prasanna',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {9.5: {'batsman': 'AJ Finch',
      'bowler': 'S Prasanna',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
    {9.6: {'batsman': 'AJ Finch',
      'bowler': 'S Prasanna',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {10.1: {'batsman': 'AJ Finch',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {10.2: {'batsman': 'AJ Finch',
      'bowler': 'PADLR Sandakan',
      'extras': {'legbyes': 1},
      'non_striker': 'M Klinger',
      'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
    {10.3: {'batsman': 'M Klinger',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0},
      'wicket': {'fielders': ['SL Malinga'],
       'kind': 'caught',
       'player_out': 'M Klinger'}}},
    {10.4: {'batsman': 'TM Head',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {10.5: {'batsman': 'TM Head',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {10.6: {'batsman': 'TM Head',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {11.1: {'batsman': 'AJ Finch',
      'bowler': 'DAS Gunaratne',
      'non_striker': 'TM Head',
      'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
    {11.2: {'batsman': 'AJ Finch',
      'bowler': 'DAS Gunaratne',
      'non_striker': 'TM Head',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {11.3: {'batsman': 'AJ Finch',
      'bowler': 'DAS Gunaratne',
      'non_striker': 'TM Head',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0},
      'wicket': {'fielders': ['SL Malinga'],
       'kind': 'caught',
       'player_out': 'AJ Finch'}}},
    {11.4: {'batsman': 'TM Head',
      'bowler': 'DAS Gunaratne',
      'non_striker': 'MC Henriques',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {11.5: {'batsman': 'MC Henriques',
      'bowler': 'DAS Gunaratne',
      'non_striker': 'TM Head',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {11.6: {'batsman': 'TM Head',
      'bowler': 'DAS Gunaratne',
      'non_striker': 'MC Henriques',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {12.1: {'batsman': 'TM Head',
      'bowler': 'S Prasanna',
      'non_striker': 'MC Henriques',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {12.2: {'batsman': 'TM Head',
      'bowler': 'S Prasanna',
      'non_striker': 'MC Henriques',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {12.3: {'batsman': 'MC Henriques',
      'bowler': 'S Prasanna',
      'non_striker': 'TM Head',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {12.4: {'batsman': 'TM Head',
      'bowler': 'S Prasanna',
      'non_striker': 'MC Henriques',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {12.5: {'batsman': 'TM Head',
      'bowler': 'S Prasanna',
      'non_striker': 'MC Henriques',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {12.6: {'batsman': 'MC Henriques',
      'bowler': 'S Prasanna',
      'non_striker': 'TM Head',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {13.1: {'batsman': 'MC Henriques',
      'bowler': 'SL Malinga',
      'non_striker': 'TM Head',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {13.2: {'batsman': 'MC Henriques',
      'bowler': 'SL Malinga',
      'extras': {'wides': 1},
      'non_striker': 'TM Head',
      'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
    {13.3: {'batsman': 'MC Henriques',
      'bowler': 'SL Malinga',
      'non_striker': 'TM Head',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {13.4: {'batsman': 'TM Head',
      'bowler': 'SL Malinga',
      'non_striker': 'MC Henriques',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {13.5: {'batsman': 'TM Head',
      'bowler': 'SL Malinga',
      'non_striker': 'MC Henriques',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {13.6: {'batsman': 'MC Henriques',
      'bowler': 'SL Malinga',
      'non_striker': 'TM Head',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {13.7: {'batsman': 'TM Head',
      'bowler': 'SL Malinga',
      'non_striker': 'MC Henriques',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {14.1: {'batsman': 'TM Head',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'MC Henriques',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {14.2: {'batsman': 'MC Henriques',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'TM Head',
      'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
    {14.3: {'batsman': 'TM Head',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'MC Henriques',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {14.4: {'batsman': 'MC Henriques',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'TM Head',
      'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
    {14.5: {'batsman': 'MC Henriques',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'TM Head',
      'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
    {14.6: {'batsman': 'TM Head',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'MC Henriques',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {15.1: {'batsman': 'MC Henriques',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'TM Head',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0},
      'wicket': {'fielders': ['CK Kapugedera'],
       'kind': 'caught',
       'player_out': 'MC Henriques'}}},
    {15.2: {'batsman': 'TM Head',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'AJ Turner',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {15.3: {'batsman': 'AJ Turner',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'TM Head',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {15.4: {'batsman': 'AJ Turner',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'TM Head',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {15.5: {'batsman': 'TM Head',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'AJ Turner',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {15.6: {'batsman': 'TM Head',
      'bowler': 'JRMVB Sanjaya',
      'extras': {'wides': 1},
      'non_striker': 'AJ Turner',
      'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
    {15.7: {'batsman': 'TM Head',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'AJ Turner',
      'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
    {16.1: {'batsman': 'AJ Turner',
      'bowler': 'SL Malinga',
      'non_striker': 'TM Head',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {16.2: {'batsman': 'AJ Turner',
      'bowler': 'SL Malinga',
      'non_striker': 'TM Head',
      'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
    {16.3: {'batsman': 'AJ Turner',
      'bowler': 'SL Malinga',
      'non_striker': 'TM Head',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {16.4: {'batsman': 'TM Head',
      'bowler': 'SL Malinga',
      'non_striker': 'AJ Turner',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {16.5: {'batsman': 'AJ Turner',
      'bowler': 'SL Malinga',
      'non_striker': 'TM Head',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {16.6: {'batsman': 'TM Head',
      'bowler': 'SL Malinga',
      'non_striker': 'AJ Turner',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {17.1: {'batsman': 'TM Head',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'AJ Turner',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {17.2: {'batsman': 'AJ Turner',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'TM Head',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {17.3: {'batsman': 'AJ Turner',
      'bowler': 'KMDN Kulasekara',
      'extras': {'noballs': 1},
      'non_striker': 'TM Head',
      'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
    {17.4: {'batsman': 'AJ Turner',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'TM Head',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {17.5: {'batsman': 'TM Head',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'AJ Turner',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {17.6: {'batsman': 'AJ Turner',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'TM Head',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {17.7: {'batsman': 'TM Head',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'AJ Turner',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {18.1: {'batsman': 'AJ Turner',
      'bowler': 'SL Malinga',
      'non_striker': 'TM Head',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {18.2: {'batsman': 'AJ Turner',
      'bowler': 'SL Malinga',
      'non_striker': 'TM Head',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {18.3: {'batsman': 'TM Head',
      'bowler': 'SL Malinga',
      'non_striker': 'AJ Turner',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {18.4: {'batsman': 'TM Head',
      'bowler': 'SL Malinga',
      'non_striker': 'AJ Turner',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0},
      'wicket': {'fielders': ['S Prasanna'],
       'kind': 'caught',
       'player_out': 'TM Head'}}},
    {18.5: {'batsman': 'AJ Turner',
      'bowler': 'SL Malinga',
      'non_striker': 'JP Faulkner',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0},
      'wicket': {'fielders': ['S Prasanna'],
       'kind': 'caught',
       'player_out': 'AJ Turner'}}},
    {18.6: {'batsman': 'JP Faulkner',
      'bowler': 'SL Malinga',
      'non_striker': 'TD Paine',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {19.1: {'batsman': 'JP Faulkner',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'TD Paine',
      'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
    {19.2: {'batsman': 'JP Faulkner',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'TD Paine',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {19.3: {'batsman': 'JP Faulkner',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'TD Paine',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {19.4: {'batsman': 'JP Faulkner',
      'bowler': 'KMDN Kulasekara',
      'extras': {'wides': 1},

In [ ]:
df_final = pd.DataFrame()

for index,rows in df.iterrows():
  match_id = []
  balls = []
  runs = []
  batting = []
  bowling = []
  batsman = []
  bowler = []
  player_out = []
  city = []
  venue = []
  
  
  mId = rows['match_id']
  bowl = rows['bowling']
  
  bt = rows['batting']
  c = rows['city']
  v = rows['venue']
 
  
  for delivery in rows['innings'][0]['1st innings']['deliveries']:
    for key in delivery.keys():
      match_id.append(mId)
      balls.append(key)
      runs.append(delivery[key]['runs']['total'])
      batting.append(bt)
      bowling.append(bowl)
      city.append(c)
      venue.append(v)
      bowler.append(delivery[key]['bowler'])
      batsman.append(delivery[key]['bowler'])
      try:
        player_out.append(delivery[key]['wicket']['player_out'])
      except:
        player_out.append('0')  


  ball_df = pd.DataFrame({
      'match_id':match_id,
      'batting_team':batting,
      'bowling_team':bowling,
      'balls':balls,
      'batsman':batsman,
      'bowler':bowler,
      'runs':runs,
      'player_out':player_out,
      'city':city,
      'venue':venue})
  

  df_final = df_final.append(ball_df)

In [ ]:
df_final.head()

,match_id,batting_team,bowling_team,balls,batsman,bowler,runs,player_out,city,venue
0,1,Australia,Sri Lanka,0.1,SL Malinga,SL Malinga,0,0,NaN,Melbourne Cricket Ground
1,1,Australia,Sri Lanka,0.2,SL Malinga,SL Malinga,0,0,NaN,Melbourne Cricket Ground
2,1,Australia,Sri Lanka,0.3,SL Malinga,SL Malinga,1,0,NaN,Melbourne Cricket Ground
3,1,Australia,Sri Lanka,0.4,SL Malinga,SL Malinga,2,0,NaN,Melbourne Cricket Ground
4,1,Australia,Sri Lanka,0.5,SL Malinga,SL Malinga,0,0,NaN,Melbourne Cricket Ground

In [ ]:
df_final.shape

(114808, 10)

In [ ]:
df['innings'][0][0]['1st innings']['deliveries']
#len(df['innings'][0])

[{0.1: {'batsman': 'AJ Finch',
   'bowler': 'SL Malinga',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {0.2: {'batsman': 'AJ Finch',
   'bowler': 'SL Malinga',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {0.3: {'batsman': 'AJ Finch',
   'bowler': 'SL Malinga',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {0.4: {'batsman': 'M Klinger',
   'bowler': 'SL Malinga',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {0.5: {'batsman': 'M Klinger',
   'bowler': 'SL Malinga',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {0.6: {'batsman': 'M Klinger',
   'bowler': 'SL Malinga',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
 {1.1: {'batsman': 'M Klinger',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {1.2: {'batsman': 'M Klinger',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {1.3: {'batsman': 'AJ Finch',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {1.4: {'batsman': 'AJ Finch',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {1.5: {'batsman': 'AJ Finch',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {1.6: {'batsman': 'AJ Finch',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {2.1: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {2.2: {'batsman': 'AJ Finch',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {2.3: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {2.4: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {2.5: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {2.6: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {3.1: {'batsman': 'AJ Finch',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {3.2: {'batsman': 'AJ Finch',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {3.3: {'batsman': 'M Klinger',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {3.4: {'batsman': 'AJ Finch',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {3.5: {'batsman': 'M Klinger',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {3.6: {'batsman': 'M Klinger',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {4.1: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
 {4.2: {'batsman': 'AJ Finch',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
 {4.3: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {4.4: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {4.5: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {4.6: {'batsman': 'AJ Finch',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {5.1: {'batsman': 'AJ Finch',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {5.2: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'extras': {'wides': 1},
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {5.3: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {5.4: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {5.5: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {5.6: {'batsman': 'AJ Finch',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {5.7: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {6.1: {'batsman': 'AJ Finch',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {6.2: {'batsman': 'M Klinger',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {6.3: {'batsman': 'AJ Finch',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {6.4: {'batsman': 'AJ Finch',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {6.5: {'batsman': 'M Klinger',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {6.6: {'batsman': 'AJ Finch',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {7.1: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {7.2: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {7.3: {'batsman': 'AJ Finch',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {7.4: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'extras': {'byes': 1},
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {7.5: {'batsman': 'AJ Finch',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {7.6: {'batsman': 'AJ Finch',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {8.1: {'batsman': 'AJ Finch',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {8.2: {'batsman': 'M Klinger',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
 {8.3: {'batsman': 'AJ Finch',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {8.4: {'batsman': 'M Klinger',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {8.5: {'batsman': 'M Klinger',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {8.6: {'batsman': 'M Klinger',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {9.1: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {9.2: {'batsman': 'AJ Finch',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {9.3: {'batsman': 'AJ Finch',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {9.4: {'batsman': 'AJ Finch',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {9.5: {'batsman': 'AJ Finch',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
 {9.6: {'batsman': 'AJ Finch',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {10.1: {'batsman': 'AJ Finch',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {10.2: {'batsman': 'AJ Finch',
   'bowler': 'PADLR Sandakan',
   'extras': {'legbyes': 1},
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {10.3: {'batsman': 'M Klinger',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['SL Malinga'],
    'kind': 'caught',
    'player_out': 'M Klinger'}}},
 {10.4: {'batsman': 'TM Head',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {10.5: {'batsman': 'TM Head',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {10.6: {'batsman': 'TM Head',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {11.1: {'batsman': 'AJ Finch',
   'bowler': 'DAS Gunaratne',
   'non_striker': 'TM Head',
   'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
 {11.2: {'batsman': 'AJ Finch',
   'bowler': 'DAS Gunaratne',
   'non_striker': 'TM Head',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {11.3: {'batsman': 'AJ Finch',
   'bowler': 'DAS Gunaratne',
   'non_striker': 'TM Head',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['SL Malinga'],
    'kind': 'caught',
    'player_out': 'AJ Finch'}}},
 {11.4: {'batsman': 'TM Head',
   'bowler': 'DAS Gunaratne',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {11.5: {'batsman': 'MC Henriques',
   'bowler': 'DAS Gunaratne',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {11.6: {'batsman': 'TM Head',
   'bowler': 'DAS Gunaratne',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {12.1: {'batsman': 'TM Head',
   'bowler': 'S Prasanna',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {12.2: {'batsman': 'TM Head',
   'bowler': 'S Prasanna',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {12.3: {'batsman': 'MC Henriques',
   'bowler': 'S Prasanna',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {12.4: {'batsman': 'TM Head',
   'bowler': 'S Prasanna',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {12.5: {'batsman': 'TM Head',
   'bowler': 'S Prasanna',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {12.6: {'batsman': 'MC Henriques',
   'bowler': 'S Prasanna',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {13.1: {'batsman': 'MC Henriques',
   'bowler': 'SL Malinga',
   'non_striker': 'TM Head',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {13.2: {'batsman': 'MC Henriques',
   'bowler': 'SL Malinga',
   'extras': {'wides': 1},
   'non_striker': 'TM Head',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {13.3: {'batsman': 'MC Henriques',
   'bowler': 'SL Malinga',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {13.4: {'batsman': 'TM Head',
   'bowler': 'SL Malinga',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {13.5: {'batsman': 'TM Head',
   'bowler': 'SL Malinga',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {13.6: {'batsman': 'MC Henriques',
   'bowler': 'SL Malinga',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {13.7: {'batsman': 'TM Head',
   'bowler': 'SL Malinga',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {14.1: {'batsman': 'TM Head',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {14.2: {'batsman': 'MC Henriques',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'TM Head',
   'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
 {14.3: {'batsman': 'TM Head',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {14.4: {'batsman': 'MC Henriques',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'TM Head',
   'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
 {14.5: {'batsman': 'MC Henriques',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'TM Head',
   'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
 {14.6: {'batsman': 'TM Head',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {15.1: {'batsman': 'MC Henriques',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'TM Head',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['CK Kapugedera'],
    'kind': 'caught',
    'player_out': 'MC Henriques'}}},
 {15.2: {'batsman': 'TM Head',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {15.3: {'batsman': 'AJ Turner',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'TM Head',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {15.4: {'batsman': 'AJ Turner',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {15.5: {'batsman': 'TM Head',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {15.6: {'batsman': 'TM Head',
   'bowler': 'JRMVB Sanjaya',
   'extras': {'wides': 1},
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {15.7: {'batsman': 'TM Head',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
 {16.1: {'batsman': 'AJ Turner',
   'bowler': 'SL Malinga',
   'non_striker': 'TM Head',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {16.2: {'batsman': 'AJ Turner',
   'bowler': 'SL Malinga',
   'non_striker': 'TM Head',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {16.3: {'batsman': 'AJ Turner',
   'bowler': 'SL Malinga',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {16.4: {'batsman': 'TM Head',
   'bowler': 'SL Malinga',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {16.5: {'batsman': 'AJ Turner',
   'bowler': 'SL Malinga',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {16.6: {'batsman': 'TM Head',
   'bowler': 'SL Malinga',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {17.1: {'batsman': 'TM Head',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {17.2: {'batsman': 'AJ Turner',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'TM Head',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {17.3: {'batsman': 'AJ Turner',
   'bowler': 'KMDN Kulasekara',
   'extras': {'noballs': 1},
   'non_striker': 'TM Head',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {17.4: {'batsman': 'AJ Turner',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {17.5: {'batsman': 'TM Head',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {17.6: {'batsman': 'AJ Turner',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {17.7: {'batsman': 'TM Head',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {18.1: {'batsman': 'AJ Turner',
   'bowler': 'SL Malinga',
   'non_striker': 'TM Head',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {18.2: {'batsman': 'AJ Turner',
   'bowler': 'SL Malinga',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {18.3: {'batsman': 'TM Head',
   'bowler': 'SL Malinga',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {18.4: {'batsman': 'TM Head',
   'bowler': 'SL Malinga',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['S Prasanna'],
    'kind': 'caught',
    'player_out': 'TM Head'}}},
 {18.5: {'batsman': 'AJ Turner',
   'bowler': 'SL Malinga',
   'non_striker': 'JP Faulkner',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['S Prasanna'],
    'kind': 'caught',
    'player_out': 'AJ Turner'}}},
 {18.6: {'batsman': 'JP Faulkner',
   'bowler': 'SL Malinga',
   'non_striker': 'TD Paine',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {19.1: {'batsman': 'JP Faulkner',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'TD Paine',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {19.2: {'batsman': 'JP Faulkner',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'TD Paine',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {19.3: {'batsman': 'JP Faulkner',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'TD Paine',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {19.4: {'batsman': 'JP Faulkner',
   'bowler': 'KMDN Kulasekara',
   'extras': {'wides': 1},
   'non_striker': 'TD Paine',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {19.5: {'batsman': 'JP Faulkner',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'TD Paine',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1},
   'wicket': {'fielders': ['CK Kapugedera', 'KMDN Kulasekara'],
    'kind': 'run out',
    'player_out': 'TD Paine'}}},
 {19.6: {'batsman': 'JP Faulkner',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'PJ Cummins',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {19.7: {'batsman': 'JP Faulkner',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'PJ Cummins',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}}]

## We want to make a model which will predict how much score will be put by the the team which is batting first.
## For this we will be required follwing features:
## 1.Batting Team
## 2.Bowling Team
## 3.Current Score
## 4.Wickets left
## 5.Current run rate
## 6.City of the match
## 7.Balls left
## 8.Runs Scored in last five overs

# Batting Team & Bowling Team  already present in the dataframe

In [ ]:
## 1.Batting Team & Bowling Team  already present in the dataframe

In [ ]:
delivery_df = df_final

In [ ]:
# Checking unique value in batting team
delivery_df['batting_team'].unique()

array(['Australia', 'Hong Kong', 'Zimbabwe', 'India', 'Bangladesh',
       'New Zealand', 'South Africa', 'England', 'West Indies', 'Ireland',
       'Afghanistan', 'Pakistan', 'United Arab Emirates', 'Scotland',
       'Oman', 'Papua New Guinea', 'Sri Lanka', 'Netherlands', 'Nepal',
       'Vanuatu', 'Philippines', 'United States of America', 'Germany',
       'Ghana', 'Uganda', 'Kenya', 'Namibia', 'Nigeria', 'Botswana',
       'Guernsey', 'Denmark', 'Jersey', 'Italy', 'Norway', 'Thailand',
       'Malaysia', 'Maldives', 'Singapore', 'Kuwait', 'Bermuda', 'Canada',
       'Cayman Islands', 'Portugal', 'Gibraltar', 'Spain', 'Bhutan',
       'Qatar', 'Iran', 'Belgium', 'Isle of Man', 'Bulgaria', 'Romania'],
      dtype=object)

In [ ]:
# Picking only top 10 cricket team a/c to ICC

teams = [
    'Australia',
    'India',
    'Bangladesh',
    'New Zealand',
    'South Africa',
    'England','West Indies','Afghanistan','Pakistan','Sri Lanka']

In [ ]:
# filtering teams 
delivery_df = delivery_df[delivery_df['batting_team'].isin(teams)]
delivery_df = delivery_df[delivery_df['bowling_team'].isin(teams)]

In [ ]:
# Now checking Unique values in batting_team
delivery_df['batting_team'].unique()

array(['Australia', 'Bangladesh', 'New Zealand', 'South Africa',
       'England', 'West Indies', 'India', 'Pakistan', 'Afghanistan',
       'Sri Lanka'], dtype=object)

In [ ]:
# Also checking Unique values in bowling_team
delivery_df['bowling_team'].unique()

array(['Sri Lanka', 'New Zealand', 'Bangladesh', 'England',
       'South Africa', 'India', 'Pakistan', 'West Indies', 'Australia',
       'Afghanistan'], dtype=object)

In [ ]:
delivery_df.head(5)

,match_id,batting_team,bowling_team,balls,batsman,bowler,runs,player_out,city,venue
0,1,Australia,Sri Lanka,0.1,SL Malinga,SL Malinga,0,0,NaN,Melbourne Cricket Ground
1,1,Australia,Sri Lanka,0.2,SL Malinga,SL Malinga,0,0,NaN,Melbourne Cricket Ground
2,1,Australia,Sri Lanka,0.3,SL Malinga,SL Malinga,1,0,NaN,Melbourne Cricket Ground
3,1,Australia,Sri Lanka,0.4,SL Malinga,SL Malinga,2,0,NaN,Melbourne Cricket Ground
4,1,Australia,Sri Lanka,0.5,SL Malinga,SL Malinga,0,0,NaN,Melbourne Cricket Ground

In [ ]:
# According to our problem we don't require batsman & bowler features in delivery_df
df = delivery_df[['match_id','batting_team','bowling_team','balls','runs','player_out','city','venue']]

In [ ]:
df.head()

,match_id,batting_team,bowling_team,balls,runs,player_out,city,venue
0,1,Australia,Sri Lanka,0.1,0,0,NaN,Melbourne Cricket Ground
1,1,Australia,Sri Lanka,0.2,0,0,NaN,Melbourne Cricket Ground
2,1,Australia,Sri Lanka,0.3,1,0,NaN,Melbourne Cricket Ground
3,1,Australia,Sri Lanka,0.4,2,0,NaN,Melbourne Cricket Ground
4,1,Australia,Sri Lanka,0.5,0,0,NaN,Melbourne Cricket Ground

# City of the match

In [ ]:
# checking null values in city.
df['city'].isnull().sum()

8549

In [ ]:
# checking null values in venue.
df['venue'].isnull().sum()

0

In [ ]:
# Checking Unique Values in city.
df['city'].unique()

array([nan, 'Victoria', 'Napier', 'Mount Maunganui', 'Auckland',
       'Southampton', 'Taunton', 'Cardiff', 'Chester-le-Street', 'Kanpur',
       'Nagpur', 'Bangalore', 'Lauderhill', 'Abu Dhabi', 'Hobart',
       'Wellington', 'Hamilton', 'Bloemfontein', 'Potchefstroom',
       'Barbados', 'Trinidad', 'Colombo', 'St Kitts', 'Jamaica', 'Nelson',
       'Ranchi', 'Guwahati', 'Birmingham', 'Manchester', 'Bristol',
       'Delhi', 'Rajkot', 'Thiruvananthapuram', 'Lahore', 'Johannesburg',
       'Centurion', 'Cape Town', 'Cuttack', 'Indore', 'Mumbai', 'Dhaka',
       'Karachi', 'Brisbane', 'Dehradun', 'Sylhet', 'Kolkata', 'Lucknow',
       'Chennai', 'Gros Islet', 'Basseterre', 'Visakhapatnam',
       'Bengaluru', 'Adelaide', 'Melbourne', 'Sydney', 'Canberra',
       'Perth', 'East London', 'Durban', 'Port Elizabeth', 'Chandigarh',
       'Hyderabad', 'Christchurch', 'Providence', 'Kandy', 'Chattogram',
       'Pune', 'London', 'Nairobi', 'Nottingham', 'King City', 'Guyana',
       'St Lucia', 'Antigua', 'Mirpur', 'Hambantota', 'Ahmedabad',
       'St Vincent', 'Chittagong', 'Dominica', 'Dharmasala', 'Dharamsala'],
      dtype=object)

In [ ]:
# Checking unique values in venue
df['venue'].unique()

array(['Melbourne Cricket Ground', 'Simonds Stadium, South Geelong',
       'Adelaide Oval', 'McLean Park', 'Bay Oval', 'Eden Park',
       'The Rose Bowl', 'County Ground', 'Sophia Gardens',
       'Riverside Ground', 'Green Park',
       'Vidarbha Cricket Association Stadium, Jamtha',
       'M Chinnaswamy Stadium',
       'Central Broward Regional Park Stadium Turf Ground',
       'Dubai International Cricket Stadium', 'Sheikh Zayed Stadium',
       'Sydney Cricket Ground', 'Bellerive Oval', 'Westpac Stadium',
       'Seddon Park', 'Mangaung Oval', 'Senwes Park',
       'Kensington Oval, Bridgetown', "Queen's Park Oval, Port of Spain",
       'R Premadasa Stadium', 'Warner Park, Basseterre',
       'Sabina Park, Kingston', 'R.Premadasa Stadium, Khettarama',
       'Saxton Oval', 'JSCA International Stadium Complex',
       'Barsapara Cricket Stadium', 'Edgbaston', 'Old Trafford',
       'Arun Jaitley Stadium', 'Saurashtra Cricket Association Stadium',
       'Greenfield International Stadium', 'Gaddafi Stadium',
       'The Wanderers Stadium', 'SuperSport Park', 'Newlands',
       'Barabati Stadium', 'Holkar Cricket Stadium', 'Wankhede Stadium',
       'Shere Bangla National Stadium, Mirpur',
       'Sylhet International Cricket Stadium', 'National Stadium',
       'Harare Sports Club', 'Carrara Oval',
       'Brisbane Cricket Ground, Woolloongabba',
       'Rajiv Gandhi International Cricket Stadium', 'Eden Gardens',
       'Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium',
       'MA Chidambaram Stadium, Chepauk',
       'Darren Sammy National Cricket Stadium, St Lucia',
       'Warner Park, St Kitts',
       'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
       'M.Chinnaswamy Stadium', 'Manuka Oval', 'Perth Stadium',
       'Buffalo Park', 'Kingsmead', "St George's Park",
       'Punjab Cricket Association IS Bindra Stadium, Mohali',
       'Rajiv Gandhi International Stadium, Uppal', 'Hagley Oval',
       'Providence Stadium, Guyana',
       'Pallekele International Cricket Stadium',
       'Zahur Ahmed Chowdhury Stadium',
       'Maharashtra Cricket Association Stadium', 'New Wanderers Stadium',
       'Kennington Oval', 'Western Australia Cricket Association Ground',
       'Brabourne Stadium', 'Jade Stadium', 'Gymkhana Club Ground',
       'Trent Bridge', "Lord's", 'Maple Leaf North-West Ground',
       'AMI Stadium', 'Providence Stadium',
       'Beausejour Stadium, Gros Islet',
       'Punjab Cricket Association Stadium, Mohali',
       'Sir Vivian Richards Stadium, North Sound',
       'Moses Mabhida Stadium', 'Stadium Australia',
       'Shere Bangla National Stadium',
       'Mahinda Rajapaksa International Cricket Stadium, Sooriyawewa',
       'Subrata Roy Sahara Stadium', 'Sardar Patel Stadium, Motera',
       'Arnos Vale Ground, Kingstown', 'Sharjah Cricket Stadium',
       'Windsor Park, Roseau',
       'Himachal Pradesh Cricket Association Stadium', 'Feroz Shah Kotla'],
      dtype=object)

In [ ]:
# Looking into df where city is null
city_null_df = df.loc[df['city'].isnull()]
city_null_df.head(10)

,match_id,batting_team,bowling_team,balls,runs,player_out,city,venue
0,1,Australia,Sri Lanka,0.1,0,0,NaN,Melbourne Cricket Ground
1,1,Australia,Sri Lanka,0.2,0,0,NaN,Melbourne Cricket Ground
2,1,Australia,Sri Lanka,0.3,1,0,NaN,Melbourne Cricket Ground
3,1,Australia,Sri Lanka,0.4,2,0,NaN,Melbourne Cricket Ground
4,1,Australia,Sri Lanka,0.5,0,0,NaN,Melbourne Cricket Ground
5,1,Australia,Sri Lanka,0.6,3,0,NaN,Melbourne Cricket Ground
6,1,Australia,Sri Lanka,1.1,0,0,NaN,Melbourne Cricket Ground
7,1,Australia,Sri Lanka,1.2,1,0,NaN,Melbourne Cricket Ground
8,1,Australia,Sri Lanka,1.3,0,0,NaN,Melbourne Cricket Ground
9,1,Australia,Sri Lanka,1.4,0,0,NaN,Melbourne Cricket Ground

In [ ]:
# checking unique values in venue from city_null_df.
city_null_df['venue'].unique()

array(['Melbourne Cricket Ground', 'Adelaide Oval',
       'Dubai International Cricket Stadium', 'Sydney Cricket Ground',
       'Sylhet International Cricket Stadium', 'Harare Sports Club',
       'Carrara Oval', 'Pallekele International Cricket Stadium',
       'Sharjah Cricket Stadium'], dtype=object)

#### Now where city value is null we can replace those values with first word
#### of venue because first word of venue is nothing but the name of city only

In [ ]:
df['city'].fillna(df['venue'].str.split().apply(lambda x:x[0]),inplace = True)

In [ ]:
df.head(5)

,match_id,batting_team,bowling_team,balls,runs,player_out,city,venue
0,1,Australia,Sri Lanka,0.1,0,0,Melbourne,Melbourne Cricket Ground
1,1,Australia,Sri Lanka,0.2,0,0,Melbourne,Melbourne Cricket Ground
2,1,Australia,Sri Lanka,0.3,1,0,Melbourne,Melbourne Cricket Ground
3,1,Australia,Sri Lanka,0.4,2,0,Melbourne,Melbourne Cricket Ground
4,1,Australia,Sri Lanka,0.5,0,0,Melbourne,Melbourne Cricket Ground

In [ ]:
# Now checking null values in df.
df.isnull().sum()

match_id        0
batting_team    0
bowling_team    0
balls           0
runs            0
player_out      0
city            0
venue           0
dtype: int64

In [ ]:
# Now dropping Venue.
df.drop(columns = 'venue',inplace = True)

In [ ]:
df['city'].value_counts()   ## each value is showing how much bowl bowled in a particular city
                            ## we have 86 categories so reducing it

Colombo               4208
Mirpur                3420
Johannesburg          3331
Dubai                 3092
Auckland              2422
Cape Town             2119
London                2104
Pallekele             2066
Barbados              2050
Durban                1520
St Lucia              1487
Wellington            1475
Melbourne             1452
Sydney                1327
Lauderhill            1238
Centurion             1189
Hamilton              1099
Abu Dhabi             1099
Manchester            1045
Mumbai                 995
Nottingham             991
Southampton            987
Chittagong             868
Kolkata                844
Lahore                 748
Delhi                  739
Mount Maunganui        736
Nagpur                 735
Cardiff                730
Chandigarh             627
Adelaide               623
Bangalore              620
Christchurch           614
Trinidad               611
Brisbane               597
St Kitts               589
Birmingham             570
Hambantota             538
Dhaka                  513
Lucknow                504
Karachi                490
Hobart                 375
Rajkot                 374
Harare                 372
Perth                  372
Kandy                  369
Chester-le-Street      368
Bristol                367
Pune                   365
Port Elizabeth         331
Napier                 259
Nelson                 253
Chennai                252
King City              252
Chattogram             251
Bengaluru              251
Sharjah                249
Indore                 249
Dehradun               248
Antigua                247
Guyana                 246
St Vincent             245
Sylhet                 244
Dominica               242
Ranchi                 242
East London            241
Cuttack                239
Visakhapatnam          237
Basseterre             200
Thiruvananthapuram     180
Gros Islet             130
Kanpur                 128
Dharmasala             128
Bloemfontein           125
Jamaica                125
Taunton                125
Guwahati               125
Providence             124
Hyderabad              124
Nairobi                123
Victoria               123
Potchefstroom          122
Dharamsala             122
Ahmedabad              121
Canberra               120
Carrara                 64
Name: city, dtype: int64

In [ ]:
# Now filtering df on the basis of city at which three maches were played(atleast 600 bowls were bowled)
elligible_city = df['city'].value_counts()[df['city'].value_counts() > 600].index.tolist()

In [ ]:
df = df[df['city'].isin(elligible_city)]
df.head()

   match_id batting_team bowling_team  balls  runs player_out       city
0         1    Australia    Sri Lanka    0.1     0          0  Melbourne
1         1    Australia    Sri Lanka    0.2     0          0  Melbourne
2         1    Australia    Sri Lanka    0.3     1          0  Melbourne
3         1    Australia    Sri Lanka    0.4     2          0  Melbourne
4         1    Australia    Sri Lanka    0.5     0          0  Melbourne

# Current score

In [ ]:
# applying cumsum method of pandas to get cimmulative score
df['current_score'] = df.groupby('match_id').cumsum()['runs']

In [ ]:
df.head()

,match_id,batting_team,bowling_team,balls,runs,player_out,city,current_score
0,1,Australia,Sri Lanka,0.1,0,0,Melbourne,0
1,1,Australia,Sri Lanka,0.2,0,0,Melbourne,0
2,1,Australia,Sri Lanka,0.3,1,0,Melbourne,1
3,1,Australia,Sri Lanka,0.4,2,0,Melbourne,3
4,1,Australia,Sri Lanka,0.5,0,0,Melbourne,3

# Balls left

In [ ]:
df['balls'].dtypes

dtype('float64')

In [ ]:
# Adding running over of the match
df['over'] = df['balls'].astype(str).str.split(".").apply(lambda x : x[0])

In [ ]:
# Adding balls of the current over
df['ball_no'] = df['balls'].astype(str).str.split(".").apply(lambda x : x[1])

In [ ]:
# adding number of bowl bowled
df['balls_bowled'] = (df['over'].astype(int) * 6) + df['ball_no'].astype(int)

In [ ]:
# adding balls left
df['balls_left'] = 120 - df['balls_bowled'].astype(int)

In [ ]:
# Due to some extra balls some value of balls might be negative so making them equal to 0
df['balls_left'] = df['balls_left'].apply(lambda x: 0 if x < 0 else x)

## Wickets left

In [ ]:
# creating a dummy features which will values as 1 if some player got out.
df['dummy'] = df['player_out'].apply(lambda x : 0 if x == '0' else 1)

In [ ]:
# Applying group on match_id and taking cumsum on dummmy
df['wickets_fallen'] = df.groupby('match_id').cumsum()['dummy']

In [ ]:
# creating feature wickets_left
df['wickets_left'] = 10 - df['wickets_fallen']

## Current run rate

In [ ]:
df['crr'] = round((df['runs'] * 6)/df['balls_bowled'],2)

## Runs Scored in last five overs

In [ ]:
groups = df.groupby('match_id')

match_ids = df['match_id'].unique()

last_five = []

for elem in match_ids:
  last_five.extend(groups.get_group(elem).rolling(window = 30).sum()['runs'].values)

In [ ]:
len(last_five)

49211

In [ ]:
df['last_five'] = last_five

In [ ]:
df.head()

,match_id,batting_team,bowling_team,balls,runs,player_out,city,current_score,over,ball_no,balls_bowled,balls_left,dummy,wickets_fallen,wickets_left,crr,last_five
0,1,Australia,Sri Lanka,0.1,0,0,Melbourne,0,0,1,1,119,0,0,10,0.0,NaN
1,1,Australia,Sri Lanka,0.2,0,0,Melbourne,0,0,2,2,118,0,0,10,0.0,NaN
2,1,Australia,Sri Lanka,0.3,1,0,Melbourne,1,0,3,3,117,0,0,10,2.0,NaN
3,1,Australia,Sri Lanka,0.4,2,0,Melbourne,3,0,4,4,116,0,0,10,3.0,NaN
4,1,Australia,Sri Lanka,0.5,0,0,Melbourne,3,0,5,5,115,0,0,10,0.0,NaN

## Creating features total score of each match played

In [ ]:
# Getting total score of each match.
match_total = df.groupby('match_id')['runs'].sum()

In [ ]:
# Merging match total with df
data = pd.merge(df,match_total,on = 'match_id',suffixes = (None,'_total'))

In [ ]:
data.head()

,match_id,batting_team,bowling_team,balls,runs,player_out,city,current_score,over,ball_no,balls_bowled,balls_left,dummy,wickets_fallen,wickets_left,crr,last_five,runs_total
0,1,Australia,Sri Lanka,0.1,0,0,Melbourne,0,0,1,1,119,0,0,10,0.0,NaN,168
1,1,Australia,Sri Lanka,0.2,0,0,Melbourne,0,0,2,2,118,0,0,10,0.0,NaN,168
2,1,Australia,Sri Lanka,0.3,1,0,Melbourne,1,0,3,3,117,0,0,10,2.0,NaN,168
3,1,Australia,Sri Lanka,0.4,2,0,Melbourne,3,0,4,4,116,0,0,10,3.0,NaN,168
4,1,Australia,Sri Lanka,0.5,0,0,Melbourne,3,0,5,5,115,0,0,10,0.0,NaN,168

# Extecting required features from dataframe

In [ ]:
df_final = data[['batting_team','bowling_team','current_score','crr','balls_left','wickets_left','last_five','city','runs_total']]

In [ ]:
df_final.head()

,batting_team,bowling_team,current_score,crr,balls_left,wickets_left,last_five,city,runs_total
0,Australia,Sri Lanka,0,0.0,119,10,NaN,Melbourne,168
1,Australia,Sri Lanka,0,0.0,118,10,NaN,Melbourne,168
2,Australia,Sri Lanka,1,2.0,117,10,NaN,Melbourne,168
3,Australia,Sri Lanka,3,3.0,116,10,NaN,Melbourne,168
4,Australia,Sri Lanka,3,0.0,115,10,NaN,Melbourne,168

In [ ]:
# Creating a copy of final dataframe
final_df = df_final.copy()

In [ ]:
# Checking shape
df_final.shape

(49211, 9)

In [ ]:
# Checking NULL value present in df_final.
df_final.isnull().sum()

batting_team         0
bowling_team         0
current_score        0
crr                  0
balls_left           0
wickets_left         0
last_five        11658
city                 0
runs_total           0
dtype: int64

## Model Building

In [ ]:
# Remove null values from df_final.
final_df.dropna(inplace = True)

In [ ]:
# Checking shape.
final_df.shape

(37553, 9)

In [ ]:
# Checking NULL values in final_df
final_df.isnull().sum()

batting_team     0
bowling_team     0
current_score    0
crr              0
balls_left       0
wickets_left     0
last_five        0
city             0
runs_total       0
dtype: int64

In [ ]:
final_df.head()

,batting_team,bowling_team,current_score,crr,balls_left,wickets_left,last_five,city,runs_total
29,Australia,Sri Lanka,43,0.20,90,10,43.0,Melbourne,168
30,Australia,Sri Lanka,44,0.19,89,10,44.0,Melbourne,168
31,Australia,Sri Lanka,45,0.19,88,10,45.0,Melbourne,168
32,Australia,Sri Lanka,45,0.00,87,10,44.0,Melbourne,168
33,Australia,Sri Lanka,45,0.00,86,10,42.0,Melbourne,168

In [ ]:
# shuffling the dataframe to avoid any bias of m/l model
final_df = final_df.sample(final_df.shape[0])

In [ ]:
final_df.head()

,batting_team,bowling_team,current_score,crr,balls_left,wickets_left,last_five,city,runs_total
25879,Sri Lanka,India,152,0.14,36,6,53.0,Chandigarh,206
6233,South Africa,Pakistan,69,0.12,71,9,43.0,Cape Town,192
23440,Sri Lanka,West Indies,168,0.06,11,9,51.0,Barbados,195
2195,New Zealand,Australia,157,0.08,41,8,72.0,Auckland,243
19212,England,South Africa,55,0.00,55,7,29.0,Nottingham,111